openapi: 3.0.4
info:
  contact:
    name: ' '
  description: >-
    The undocumented public API v4 for the Hack The Box platform. This OpenAPI
    specification is community-maintained and reverse-engineered. This project 
    is not affiliated with or endorsed by HTB.
  license:
    name: The Unlicense
    url: https://unlicense.org/
  title: HTB Unofficial API v4
  version: v0.3.3
servers:
  - description: HTB API
    url: https://labs.hackthebox.com/api/v4
security:
  - bearer: []
tags:
  - description: Endpoints related to platform badges
    name: Badges
  - description: Endpoints related to Challenges
    name: Challenges
  - description: Endpoints related to VPN connections
    name: Connection
  - description: Containers
    name: Containers
  - description: Endpoints related to Fortresses
    name: Fortresses
  - description: Endpoints related to the Home page banner
    name: Home
  - description: Endpoints related to Machines
    name: Machines
  - description: Endpoints related to the platform (General)
    name: Platform
  - description: Endpoints related to ProLabs
    name: Prolabs
  - description: Endpoints related to PwnBox
    name: PwnBox
  - description: Endpoints related to Rankings
    name: Ranking
  - description: Product reviews
    name: Review
  - description: Endpoints related to Seasons
    name: Season
  - description: Endpoints related to Sherlocks
    name: Sherlocks
  - description: Endpoints related to Starting Point
    name: Starting Point
  - description: Endpoint for Tags
    name: Tags
  - description: Endpoints related to Team Rankings
    name: Team
  - description: Endpoints related to Tracks
    name: Tracks
  - description: Endpoints related to University Rankings
    name: Universities
  - description: Endpoints related to User Profiles
    name: User
  - description: Endpoints related to spawning VMs for Machines and Starting Point
    name: VM
paths:
  /access/ovpnfile/{vpnId}/0:
    $ref: paths/access_ovpnfile_{vpnId}_0.yaml
  /access/ovpnfile/{vpnId}/0/1:
    $ref: paths/access_ovpnfile_{vpnId}_0_1.yaml
  /badges:
    $ref: paths/badges.yaml
  /challenge/activity/{challengeId}:
    $ref: paths/challenge_activity_{challengeId}.yaml
  /challenge/categories/list:
    $ref: paths/challenge_categories_list.yaml
  /challenge/changelog/{challengeId}:
    $ref: paths/challenge_changelog_{challengeId}.yaml
  /challenges/{challengeId}/download_link:
    $ref: paths/challenges_{challengeId}_download_link.yaml
  /challenge/info/{challengeSlug}:
    $ref: paths/challenge_info_{challengeSlug}.yaml
  /challenge/own:
    $ref: paths/challenge_own.yaml
  /challenge/recommended:
    $ref: paths/challenge_recommended.yaml
  /challenge/start:
    $ref: paths/challenge_start.yaml
  /challenge/stop:
    $ref: paths/challenge_stop.yaml
  /challenge/suggested:
    $ref: paths/challenge_suggested.yaml
  /challenge/{challengeId}/writeup:
    $ref: paths/challenge_{challengeId}_writeup.yaml
  /challenge/{challengeId}/writeup/official:
    $ref: paths/challenge_{challengeId}_writeup_official.yaml
  /challenges:
    $ref: paths/challenges.yaml
  /connection/status:
    $ref: paths/connection_status.yaml
  /connections/servers:
    $ref: paths/connections_servers.yaml
  /connections/servers/prolab/{prolabId}:
    $ref: paths/connections_servers_prolab_{prolabId}.yaml
  /connections/servers/switch/{vpnId}:
    $ref: paths/connections_servers_switch_{vpnId}.yaml
  /container/start:
    $ref: paths/container_start.yaml
  /container/stop:
    $ref: paths/container_stop.yaml
  /fortress/{fortressId}:
    $ref: paths/fortress_{fortressId}.yaml
  /fortress/{fortressId}/flag:
    $ref: paths/fortress_{fortressId}_flag.yaml
  /fortress/{fortressId}/flags:
    $ref: paths/fortress_{fortressId}_flags.yaml
  /fortress/{fortressId}/reset:
    $ref: paths/fortress_{fortressId}_reset.yaml
  /fortresses:
    $ref: paths/fortresses.yaml
  /home/banners:
    $ref: paths/home_banners.yaml
  /machine/active:
    $ref: paths/machine_active.yaml
  /machine/activity/{machineId}:
    $ref: paths/machine_activity_{machineId}.yaml
  /machine/changelog/{machineId}:
    $ref: paths/machine_changelog_{machineId}.yaml
  /machine/graph/matrix/{machineId}:
    $ref: paths/machine_graph_matrix_{machineId}.yaml
  /machine/profile/{machineSlug}:
    $ref: paths/machine_profile_{machineSlug}.yaml
  /machine/recommended:
    $ref: paths/machine_recommended.yaml
  /tags/list:
    $ref: paths/tags_list.yaml
  /machine/tags/{machineId}:
    $ref: paths/machine_tags_{machineId}.yaml
  /machine/walkthrough/random:
    $ref: paths/machine_walkthrough_random.yaml
  /machine/walkthroughs/language/list:
    $ref: paths/machine_walkthroughs_language_list.yaml
  /machine/walkthroughs/{machineId}:
    $ref: paths/machine_walkthroughs_{machineId}.yaml
  /machine/writeup/{machineId}:
    $ref: paths/machine_writeup_{machineId}.yaml
  /machines/{machineId}/adventure:
    $ref: paths/machines_{machineId}_adventure.yaml
  /machines/{machineId}/tasks:
    $ref: paths/machines_{machineId}_tasks.yaml
  /navigation/main:
    $ref: paths/navigation_main.yaml
  /notices:
    $ref: paths/notices.yaml
  /prolab/{prolabId}/changelogs:
    $ref: paths/prolab_{prolabId}_changelogs.yaml
  /prolab/{prolabId}/faq:
    $ref: paths/prolab_{prolabId}_faq.yaml
  /prolab/{prolabId}/flag:
    $ref: paths/prolab_{prolabId}_flag.yaml
  /prolab/{prolabId}/flags:
    $ref: paths/prolab_{prolabId}_flags.yaml
  /prolab/{prolabId}/info:
    $ref: paths/prolab_{prolabId}_info.yaml
  /prolab/{prolabId}/machines:
    $ref: paths/prolab_{prolabId}_machines.yaml
  /prolab/{prolabId}/overview:
    $ref: paths/prolab_{prolabId}_overview.yaml
  /prolab/{prolabId}/progress:
    $ref: paths/prolab_{prolabId}_progress.yaml
  /prolabs:
    $ref: paths/prolabs.yaml
  /pwnbox/start:
    $ref: paths/pwnbox_start.yaml
  /pwnbox/status:
    $ref: paths/pwnbox_status.yaml
  /pwnbox/terminate:
    $ref: paths/pwnbox_terminate.yaml
  /pwnbox/usage:
    $ref: paths/pwnbox_usage.yaml
  /rankings:
    $ref: paths/rankings.yaml
  /rankings/countries:
    $ref: paths/rankings_countries.yaml
  /rankings/country/{countryShortName}/members:
    $ref: paths/rankings_country_{countryShortName}_members.yaml
  /rankings/teams:
    $ref: paths/rankings_teams.yaml
  /rankings/universities:
    $ref: paths/rankings_universities.yaml
  /rankings/users:
    $ref: paths/rankings_users.yaml
  /review/{product}/{productId}/paginated:
    $ref: paths/review_{product}_{productId}_paginated.yaml
  /search/fetch:
    $ref: paths/search_fetch.yaml
  /season/list:
    $ref: paths/season_list.yaml
  /season/machine/active:
    $ref: paths/season_machine_active.yaml
  /season/machines/{seasonId}:
    $ref: paths/season_machines_{seasonId}.yaml
  /season/rewards/{seasonId}:
    $ref: paths/season_rewards_{seasonId}.yaml
  /season/user/rank/{seasonId}:
    $ref: paths/season_user_rank_{seasonId}.yaml
  /season/user/{userId}/ranks:
    $ref: paths/season_user_{userId}_ranks.yaml
  /season/{leaderboard}/leaderboard:
    $ref: paths/season_{leaderboard}_leaderboard.yaml
  /season/{leaderboard}/leaderboard/top/{seasonId}:
    $ref: paths/season_{leaderboard}_leaderboard_top_{seasonId}.yaml
  /sherlocks:
    $ref: paths/sherlocks.yaml
  /sherlocks/categories/list:
    $ref: paths/sherlocks_categories_list.yaml
  /sherlocks/{sherlockId}/download_link:
    $ref: paths/sherlocks_{sherlockId}_download_link.yaml
  /sherlocks/{sherlockId}/info:
    $ref: paths/sherlocks_{sherlockId}_info.yaml
  /sherlocks/{sherlockId}/play:
    $ref: paths/sherlocks_{sherlockId}_play.yaml
  /sherlocks/{sherlockId}/progress:
    $ref: paths/sherlocks_{sherlockId}_progress.yaml
  /sherlocks/{sherlockId}/tasks:
    $ref: paths/sherlocks_{sherlockId}_tasks.yaml
  /sherlocks/{sherlockId}/tasks/{taskId}/flag:
    $ref: paths/sherlocks_{sherlockId}_tasks_{taskId}_flag.yaml
  /sherlocks/{sherlockId}/writeup:
    $ref: paths/sherlocks_{sherlockId}_writeup.yaml
  /sherlocks/{sherlockId}/writeup/official:
    $ref: paths/sherlocks_{sherlockId}_writeup_official.yaml
  /sherlocks/{sherlockSlug}:
    $ref: paths/sherlocks_{sherlockSlug}.yaml
  /sp/tiers/progress:
    $ref: paths/sp_tiers_progress.yaml
  /team/activity/{teamId}:
    $ref: paths/team_activity_{teamId}.yaml
  /team/info/{teamId}:
    $ref: paths/team_info_{teamId}.yaml
  /team/invitations/{teamId}:
    $ref: paths/team_invitations_{teamId}.yaml
  /team/kick/{userId}:
    $ref: paths/team_kick_{userId}.yaml
  /team/members/{teamId}:
    $ref: paths/team_members_{teamId}.yaml
  /team/{requestId}/invite/accept:
    $ref: paths/team_{requestId}_invite_accept.yaml
  /team/{requestId}/invite/reject:
    $ref: paths/team_{requestId}_invite_reject.yaml
  /tracks:
    $ref: paths/tracks.yaml
  /tracks/enroll/{trackId}:
    $ref: paths/tracks_enroll_{trackId}.yaml
  /tracks/like/{trackId}:
    $ref: paths/tracks_like_{trackId}.yaml
  /tracks/{trackId}:
    $ref: paths/tracks_{trackId}.yaml
  /university/activity/{universityId}:
    $ref: paths/university_activity_{universityId}.yaml
  /university/all/list:
    $ref: paths/university_all_list.yaml
  /university/members/{universityId}:
    $ref: paths/university_members_{universityId}.yaml
  /university/profile/{universityId}:
    $ref: paths/university_profile_{universityId}.yaml
  /user/achievement/{targetType}/{userId}/{targetId}:
    $ref: paths/user_achievement_{targetType}_{userId}_{targetId}.yaml
  /user/anonymized/id:
    $ref: paths/user_anonymized_id.yaml
  /user/apptoken/create:
    $ref: paths/user_apptoken_create.yaml
  /user/apptoken/delete:
    $ref: paths/user_apptoken_delete.yaml
  /user/apptoken/list:
    $ref: paths/user_apptoken_list.yaml
  /user/connection/status:
    $ref: paths/user_connection_status.yaml
  /user/disrespect/{userId}:
    $ref: paths/user_disrespect_{userId}.yaml
  /user/follow/{userId}:
    $ref: paths/user_follow_{userId}.yaml
  /user/followers:
    $ref: paths/user_followers.yaml
  /user/info:
    $ref: paths/user_info.yaml
  /user/profile/badges/{userId}:
    $ref: paths/user_profile_badges_{userId}.yaml
  /user/profile/basic/{userId}:
    $ref: paths/user_profile_basic_{userId}.yaml
  /user/profile/bloods/{userId}:
    $ref: paths/user_profile_bloods_{userId}.yaml
  /user/profile/chart/machines/attack/{userId}:
    $ref: paths/user_profile_chart_machines_attack_{userId}.yaml
  /user/profile/graph/{period}/{userId}:
    $ref: paths/user_profile_graph_{period}_{userId}.yaml
  /user/profile/progress/challenges/{userId}:
    $ref: paths/user_profile_progress_challenges_{userId}.yaml
  /user/profile/progress/fortress/{userId}:
    $ref: paths/user_profile_progress_fortress_{userId}.yaml
  /user/profile/progress/prolab/{userId}:
    $ref: paths/user_profile_progress_prolab_{userId}.yaml
  /user/profile/progress/sherlocks/{userId}:
    $ref: paths/user_profile_progress_sherlocks_{userId}.yaml
  /user/profile/summary:
    $ref: paths/user_profile_summary.yaml
  /user/respect/{userId}:
    $ref: paths/user_respect_{userId}.yaml
  /user/settings:
    $ref: paths/user_settings.yaml
  /user/tracks:
    $ref: paths/user_tracks.yaml
  /user/unfollow/{userId}:
    $ref: paths/user_unfollow_{userId}.yaml
  /vm/extend:
    $ref: paths/vm_extend.yaml
  /vm/reset:
    $ref: paths/vm_reset.yaml
  /vm/reset/vote:
    $ref: paths/vm_reset_vote.yaml
  /vm/reset/vote/accept:
    $ref: paths/vm_reset_vote_accept.yaml
  /vm/spawn:
    $ref: paths/vm_spawn.yaml
  /vm/terminate:
    $ref: paths/vm_terminate.yaml
  /{product}/todo/update/{productId}:
    $ref: paths/{product}_todo_update_{productId}.yaml
components:
  securitySchemes:
    bearer:
      description: Need to create token on app.hackthebox.com
      scheme: bearer
      type: http
