openapi: 3.0.4
info:
  contact:
    name: ' '
  description: The undocumented public API v4 for the Hack The Box platform. This OpenAPI specification is community-maintained and reverse-engineered. This project  is not affiliated with or endorsed by HTB.
  license:
    name: The Unlicense
    url: https://unlicense.org/
  title: HTB Unofficial API v4
  version: v0.3.3
servers:
  - description: HTB API
    url: https://labs.hackthebox.com/api/v4
security:
  - bearer: []
tags:
  - description: Endpoints related to platform badges
    name: Badges
  - description: Endpoints related to Challenges
    name: Challenges
  - description: Endpoints related to VPN connections
    name: Connection
  - description: Containers
    name: Containers
  - description: Endpoints related to Fortresses
    name: Fortresses
  - description: Endpoints related to the Home page banner
    name: Home
  - description: Endpoints related to Machines
    name: Machines
  - description: Endpoints related to the platform (General)
    name: Platform
  - description: Endpoints related to ProLabs
    name: Prolabs
  - description: Endpoints related to PwnBox
    name: PwnBox
  - description: Endpoints related to Rankings
    name: Ranking
  - description: Product reviews
    name: Review
  - description: Endpoints related to Seasons
    name: Season
  - description: Endpoints related to Sherlocks
    name: Sherlocks
  - description: Endpoints related to Starting Point
    name: Starting Point
  - description: Endpoint for Tags
    name: Tags
  - description: Endpoints related to Team Rankings
    name: Team
  - description: Endpoints related to Tracks
    name: Tracks
  - description: Endpoints related to University Rankings
    name: Universities
  - description: Endpoints related to User Profiles
    name: User
  - description: Endpoints related to spawning VMs for Machines and Starting Point
    name: VM
paths:
  /access/ovpnfile/{vpnId}/0:
    get:
      description: Fetches the UDP OpenVPN configuration file for the specified VPN ID, allowing the user to establish a VPN connection
      operationId: getAccessOvpnfileVpnIdUDP
      parameters:
        - $ref: '#/components/parameters/VpnId'
      responses:
        '200':
          $ref: '#/components/responses/AccessOvpnfileVpnId0Response'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Download UDP VPN config
      tags:
        - Connection
  /access/ovpnfile/{vpnId}/0/1:
    get:
      description: Fetches the TCP OpenVPN configuration file for the specified VPN ID, allowing the user to establish a VPN connection
      operationId: getAccessOvpnfileVpnIdTCP
      parameters:
        - $ref: '#/components/parameters/VpnId'
      responses:
        '200':
          $ref: '#/components/responses/AccessOvpnfileVpnId0Response'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Download TCP VPN config
      tags:
        - Connection
  /badges:
    get:
      description: Returns a list of all available and obtained badges
      operationId: getBadges
      responses:
        '200':
          $ref: '#/components/responses/BadgesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: List all platform badges
      tags:
        - Badges
  /challenge/activity/{challengeId}:
    get:
      description: Provides a list of users that have completed the challenge
      operationId: getChallengeActivity
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeActivityResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: List of owns related to a specific challenge
      tags:
        - Challenges
  /challenge/categories/list:
    get:
      description: Provides a list of challenge catatories
      operationId: getChallengeCategoriesList
      responses:
        '200':
          $ref: '#/components/responses/ChallengeCategoriesListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: List categories
      tags:
        - Challenges
  /challenge/changelog/{challengeId}:
    get:
      description: Provides change details to a challenge
      operationId: getChallengeChangelog
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeChangelogChallengeIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Changelog for a specific challenge
      tags:
        - Challenges
  /challenges/{challengeId}/download_link:
    get:
      description: Returns a zip file
      operationId: getChallengeDownload
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/DownloadLinkResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Download zip file related to a specific challenge
      tags:
        - Challenges
  /challenge/info/{challengeSlug}:
    get:
      description: Provides a list of the challege details by id or name
      operationId: getChallengeInfo
      parameters:
        - $ref: '#/components/parameters/ChallengeSlug'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeInfoChallengeResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Info details of the specific challenge
      tags:
        - Challenges
  /challenge/submit:
    post:
      description: Submit flag for Challenge
      operationId: postChallengeOwn
      requestBody:
        $ref: '#/components/requestBodies/ChallengeOwnRequest'
      responses:
        '200':
          $ref: '#/components/responses/OwnResponse'
        '400':
          $ref: '#/components/responses/MachineOwn400'
      summary: Submit flag for Challenge
      tags:
        - Challenges
  /challenge/recommended:
    get:
      description: Provides information about a unreleased challenge along with a challenge that is about to retire
      operationId: getChallengeRecommended
      responses:
        '200':
          $ref: '#/components/responses/ChallengeRecommendedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Challenge Recommendation Cards
      tags:
        - Challenges
  /challenge/start:
    post:
      description: Starts a challenge container with challenge_id
      deprecated: true
      operationId: postChallengeStart
      requestBody:
        $ref: '#/components/requestBodies/ChallengeStartStopRequest'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeStartResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Starts a challenge - Use Container Start
      tags:
        - Challenges
  /challenge/stop:
    post:
      description: Stops a challenge container with challenge_id
      deprecated: true
      operationId: postChallengeStop
      requestBody:
        $ref: '#/components/requestBodies/ChallengeStartStopRequest'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeStopResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Stops a challenge - Use Container Stop
      tags:
        - Challenges
  /challenge/suggested:
    get:
      description: Retrieves information related to /challenge/suggested
      operationId: getChallengeSuggested
      responses:
        '200':
          $ref: '#/components/responses/ChallengeSuggestedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: challenge Suggestion
      tags:
        - Challenges
  /challenge/{challengeId}/writeup:
    get:
      description: Gets a write-up for a challenge from challenge id
      operationId: getChallengeWriteup
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeWriteupResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get a write-up for a challenge
      tags:
        - Challenges
  /challenge/{challengeId}/writeup/official:
    get:
      description: Get Official Writeup
      operationId: getChallengeWriteupOfficial
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/GenericPDFResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Official PDF Writeup
      tags:
        - Challenges
  /challenges:
    get:
      description: Porivdes a list of challenges with limited challenge info
      operationId: getChallenges
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/State'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortType'
        - $ref: '#/components/parameters/Difficulty'
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Todo'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of challenges
      tags:
        - Challenges
  /connection/status:
    get:
      description: Retrieve the connection status.
      operationId: getConnectionStatus
      responses:
        '200':
          $ref: '#/components/responses/ConnectionStatusResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Current Active Connections
      tags:
        - Connection
  /connections/servers:
    get:
      description: Retrieve a list of connection servers.
      operationId: getConnectionsServers
      parameters:
        - $ref: '#/components/parameters/Product'
      responses:
        '200':
          $ref: '#/components/responses/ConnectionsServersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list VPN servers
      tags:
        - Connection
  /connections/servers/prolab/{prolabId}:
    get:
      description: Get Prolab VPN Servers
      operationId: getConnectionsServersProlab
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ConnectionsServersProlabResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Prolab VPN Servers
      tags:
        - Connection
  /connections/servers/switch/{vpnId}:
    post:
      description: See `/v4/connections/servers` for valid ids
      operationId: postConnectionsServersSwitch
      parameters:
        - $ref: '#/components/parameters/VpnId'
      responses:
        '200':
          $ref: '#/components/responses/ConnectionsServersSwitchVpnIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Swtich VPN server
      tags:
        - Connection
  /container/start:
    post:
      description: Starts a container with container_id
      operationId: postContainerStart
      requestBody:
        $ref: '#/components/requestBodies/ContainerStartStopRequest'
      responses:
        '200':
          $ref: '#/components/responses/ContainerStartResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Starts a Container
      tags:
        - Containers
  /container/stop:
    post:
      description: Stops a container with container_id
      operationId: postContainerStop
      requestBody:
        $ref: '#/components/requestBodies/ContainerStartStopRequest'
      responses:
        '200':
          $ref: '#/components/responses/ContainerStopResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Stops a Container
      tags:
        - Containers
  /fortress/{fortressId}:
    get:
      description: Retrieves information related to /fortress/{fortress id}
      operationId: getFortress
      parameters:
        - $ref: '#/components/parameters/FortressId'
      responses:
        '200':
          $ref: '#/components/responses/FortressFortressIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get fortress profile
      tags:
        - Fortresses
  /fortress/{fortressId}/flag:
    post:
      description: Submit flag
      operationId: postFortressFlag
      parameters:
        - $ref: '#/components/parameters/FortressId'
      requestBody:
        $ref: '#/components/requestBodies/MultiOwnRequest'
      responses:
        '200':
          $ref: '#/components/responses/MultiOwnResponse'
        '400':
          $ref: '#/components/responses/MultiOwn400'
      summary: Submit flag
      tags:
        - Fortresses
  /fortress/{fortressId}/flags:
    get:
      description: Retrieve flags for a specific fortress.
      operationId: getFortressFlags
      parameters:
        - $ref: '#/components/parameters/FortressId'
      responses:
        '200':
          $ref: '#/components/responses/ProductFlagsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of flags
      tags:
        - Fortresses
  /fortress/{fortressId}/reset:
    post:
      description: Vote Reset Fortress
      operationId: postFortressReset
      parameters:
        - $ref: '#/components/parameters/FortressId'
      responses:
        '200':
          $ref: '#/components/responses/GameResetResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Vote Reset Fortress
      tags:
        - Fortresses
  /fortresses:
    get:
      description: Retrieves information related to /fortresses
      operationId: getFortresses
      responses:
        '200':
          $ref: '#/components/responses/FortressesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of fortresses
      tags:
        - Fortresses
  /home/banners:
    get:
      description: Retrieves information related to /home/banners
      operationId: getHomeBanner
      responses:
        '200':
          $ref: '#/components/responses/HomeBannersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Home Banner
      tags:
        - Home
  /machine/active:
    get:
      description: Retrieves information related to /machine/active
      operationId: getMachineActive
      responses:
        '200':
          $ref: '#/components/responses/MachineActiveResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get active machine details
      tags:
        - Machines
  /machine/activity/{machineId}:
    get:
      description: Retrieves information related to /machine/activity/{machine id}
      operationId: getMachineActivity
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineActivityMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: Activity'
      tags:
        - Machines
  /machine/changelog/{machineId}:
    get:
      description: Retrieves information related to /machine/changelog/{machine id}
      operationId: getMachineChangelog
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineChangelogMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: changelog'
      tags:
        - Machines
  /machine/graph/matrix/{machineId}:
    get:
      description: Retrieves graph matrix
      operationId: getMachineGraphMatrix
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineGraphMatrixMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Machine Graph Matrix
      tags:
        - Machines
  /machine/profile/{machineSlug}:
    get:
      description: Retrieves profile information by id or name
      operationId: getMachineProfile
      parameters:
        - $ref: '#/components/parameters/MachineSlug'
      responses:
        '200':
          $ref: '#/components/responses/MachineProfileMachineResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get machine profile by id or name
      tags:
        - Machines
  /machine/recommended:
    get:
      description: Retrieves information related to /machine/recommended
      operationId: getMachineRecommended
      responses:
        '200':
          $ref: '#/components/responses/MachineRecommendedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get recommended machines
      tags:
        - Machines
  /tags/list:
    get:
      description: Retrieve a list of tags.
      operationId: getTagsList
      responses:
        '200':
          $ref: '#/components/responses/TagsListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get tags list
      tags:
        - Tags
  /machine/tags/{machineId}:
    get:
      description: Retrieves information related to /machine/tags/{machine id}
      operationId: getMachineTags
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineTagsMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: tags (Attack Path, Sub, Language)'
      tags:
        - Machines
  /machine/walkthrough/random:
    get:
      description: Get Random Walkthrough
      operationId: getMachineWalkthroughRandom
      responses:
        '200':
          $ref: '#/components/responses/MachineWalkthroughRandomResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Random Walkthrough
      tags:
        - Machines
  /machine/walkthroughs/language/list:
    get:
      description: Retrieves information related to /machine/walkthroughs/language/list
      operationId: getMachineWalkthroughsLanguageList
      responses:
        '200':
          $ref: '#/components/responses/MachineWalkthroughsLanguageListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: list Walkthrough Language options'
      tags:
        - Machines
  /machine/walkthroughs/{machineId}:
    get:
      description: Retrieves information related to /machine/walkthroughs/{machine id}
      operationId: getMachineWalkthroughs
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineWalkthroughsMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: list Walkthroughs'
      tags:
        - Machines
  /machine/writeup/{machineId}:
    get:
      description: _response is of a pdf file
      operationId: getMachineWriteup
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineWriteupMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: Get Official Writeup (if Available) by machine ID'
      tags:
        - Machines
  /machines/{machineId}/adventure:
    get:
      description: Get Machine Adventure
      operationId: getMachineAdventure
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachinesAdventureResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Machine Adventure
      tags:
        - Machines
  /machines/{machineId}/tasks:
    get:
      description: Get Machine Tasks
      operationId: getMachineTasks
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineTasksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Machine Tasks
      tags:
        - Machines
  /navigation/main:
    get:
      description: Retrieve main navigation details.
      operationId: getNavigationMain
      responses:
        '200':
          $ref: '#/components/responses/NavigationMainResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get platform navigation details
      tags:
        - Platform
  /notices:
    get:
      description: Retrieve notices.
      operationId: getNotices
      responses:
        '200':
          $ref: '#/components/responses/NoticesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get platform notices
      tags:
        - Platform
  /prolab/{prolabId}/changelogs:
    get:
      description: Get Prolab Changelog
      operationId: getProlabChangelogs
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  status:
                    type: boolean
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Changelogs
      tags:
        - Prolabs
  /prolab/{prolabId}/faq:
    get:
      description: Retrieves information related to /prolab/{prolab id}/faq
      operationId: getProlabFaq
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabfaqResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab FAQ
      tags:
        - Prolabs
  /prolab/{prolabId}/flag:
    post:
      description: Submit flag
      operationId: postProlabFlag
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      requestBody:
        $ref: '#/components/requestBodies/MultiOwnRequest'
      responses:
        '200':
          $ref: '#/components/responses/MultiOwnResponse'
        '400':
          $ref: '#/components/responses/MultiOwn400'
      summary: Submit flag
      tags:
        - Prolabs
  /prolab/{prolabId}/flags:
    get:
      description: Retrieve flags for a specific prolab.
      operationId: getProlabFlags
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProductFlagsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of flags
      tags:
        - Prolabs
  /prolab/{prolabId}/info:
    get:
      description: Retrieves information related to /prolab/{prolab id}/info
      operationId: getProlabInfo
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabinfoResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab Info
      tags:
        - Prolabs
  /prolab/{prolabId}/machines:
    get:
      description: Retrieves information related to /prolab/{prolab id}/machines
      operationId: getProlabMachines
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabmachinesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab machine list
      tags:
        - Prolabs
  /prolab/{prolabId}/overview:
    get:
      description: Retrieves information related to /prolab/{prolab id}/overview
      operationId: getProlabOverview
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlaboverviewResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab Overview
      tags:
        - Prolabs
  /prolab/{prolabId}/progress:
    get:
      description: Get Prolab Progress
      operationId: getProlabProgress
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabProgressResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Prolab Progress
      tags:
        - Prolabs
  /prolabs:
    get:
      description: Retrieves information related to /prolabs
      operationId: getProlabs
      responses:
        '200':
          $ref: '#/components/responses/ProlabsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of Pro Labs
      tags:
        - Prolabs
  /pwnbox/start:
    post:
      description: Start a Pwnbox instance.
      operationId: postPwnboxStart
      requestBody:
        $ref: '#/components/requestBodies/PwnboxStartRequest'
      responses:
        '200':
          $ref: '#/components/responses/PwnboxStartResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Start a Pwnbox instance
      tags:
        - PwnBox
  /pwnbox/status:
    get:
      description: Retrieve the status of a Pwnbox instance.
      operationId: getPwnboxStatus
      responses:
        '200':
          $ref: '#/components/responses/PwnboxStatusResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get status of a Pwnbox instance.
      tags:
        - PwnBox
  /pwnbox/terminate:
    post:
      description: Terminate a Pwnbox instance.
      operationId: postPwnboxTerminate
      responses:
        '204':
          $ref: '#/components/responses/PwnboxTerminate204'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Stop Pwnbox
      tags:
        - PwnBox
  /pwnbox/usage:
    get:
      description: Retrieve usage statistics for Pwnbox.
      operationId: getPwnboxUsage
      responses:
        '200':
          $ref: '#/components/responses/PwnboxUsageResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get usage statistics for Pwnbox
      tags:
        - PwnBox
  /rankings:
    get:
      description: Get /rankings
      operationId: getRankings
      responses:
        '200':
          $ref: '#/components/responses/RankingsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Rankings
      tags:
        - Ranking
  /rankings/countries:
    get:
      description: Retrieves information related to /rankings/countries
      operationId: getRankingsCountries
      responses:
        '200':
          $ref: '#/components/responses/RankingsCountriesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Countries
      tags:
        - Ranking
  /rankings/country/{countryShortName}/members:
    get:
      description: Get Rankings Country Members
      operationId: getRankingsCountryUSMembers
      parameters:
        - description: Two letter short name for country, ie US, DE
          in: path
          name: countryShortName
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/RankingsCountryMembersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Rankings Country Members
      tags:
        - Ranking
  /rankings/teams:
    get:
      description: lists the highest-ranked teams on HTB.
      operationId: getRankingsTeams
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/RankingsTeamsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list Top-Ranked Teams
      tags:
        - Ranking
  /rankings/universities:
    get:
      description: Retrieves information related to /rankings/universities
      operationId: getRankingsUniversities
      responses:
        '200':
          $ref: '#/components/responses/RankingsUniversitiesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Universities
      tags:
        - Ranking
  /rankings/users:
    get:
      description: Retrieves information related to /rankings/users
      operationId: getRankingsUsers
      responses:
        '200':
          $ref: '#/components/responses/RankingsUsersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Users
      tags:
        - Ranking
  /review/{product}/{productId}/paginated:
    get:
      description: Retrieves reviews
      operationId: getReviewPaginated
      parameters:
        - $ref: '#/components/parameters/ProductId'
        - $ref: '#/components/parameters/ProductPath'
      responses:
        '200':
          $ref: '#/components/responses/ReviewProductPaginatedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Retrieves reviews
      tags:
        - Review
  /search/fetch:
    get:
      description: Fetch search results.
      operationId: getSearchFetch
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/SearchTags'
      responses:
        '200':
          $ref: '#/components/responses/SearchFetchResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Fetch search results
      tags:
        - Platform
  /season/list:
    get:
      description: Retrieve a list of seasons.
      operationId: getSeasonList
      responses:
        '200':
          $ref: '#/components/responses/SeasonListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of seasons
      tags:
        - Season
  /season/machine/active:
    get:
      description: Retrieve active season machines.
      operationId: getSeasonMachineActive
      responses:
        '200':
          $ref: '#/components/responses/SeasonMachineActiveResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get active machines for the current season
      tags:
        - Season
  /season/machines/{seasonId}:
    get:
      description: Retrieve machines for a season.
      operationId: getSeasonMachines
      parameters:
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonMachinesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get a season list of machines
      tags:
        - Season
  /season/rewards/{seasonId}:
    get:
      description: Get Season Rewwards
      operationId: getSeasonRewards
      parameters:
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonRewardsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Season Rewwards
      tags:
        - Season
  /season/user/rank/{seasonId}:
    get:
      description: Retrieve user rank for a specific season.
      operationId: getSeasonUserRank
      parameters:
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonUserRankSeasonIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get user's rank for the current season
      tags:
        - Season
  /season/user/{userId}/ranks:
    get:
      description: Retrieve user ranks for seasons.
      operationId: getSeasonUserUserIdRank
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonUserRankSeasonIdRanksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get a users rank for all seasons
      tags:
        - Season
  /season/{leaderboard}/leaderboard:
    get:
      description: Get /season/players/leaderboard
      operationId: getSeasonLeaderboard
      parameters:
        - $ref: '#/components/parameters/Leaderboard'
        - in: query
          name: season
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SeasonPlayersLeaderboardResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Season Leaderboar
      tags:
        - Season
  /season/{leaderboard}/leaderboard/top/{seasonId}:
    get:
      description: Season Top Leaderboard
      operationId: getSeasonLeaderboardTop
      parameters:
        - $ref: '#/components/parameters/Leaderboard'
        - $ref: '#/components/parameters/PeriodQuery'
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonPlatersLeaderboardTopResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Season Leaderboard Top
      tags:
        - Season
  /sherlocks:
    get:
      description: Retrieve a list of Sherlock instances.
      operationId: getSherlocks
      parameters:
        - $ref: '#/components/parameters/SortType'
        - $ref: '#/components/parameters/Difficulty'
        - $ref: '#/components/parameters/State'
        - $ref: '#/components/parameters/SherlockSortBy'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of Sherlocks
      tags:
        - Sherlocks
  /sherlocks/categories/list:
    get:
      description: Get Sherlocks Categories List
      operationId: getSherlocksCategoriesList
      responses:
        '200':
          $ref: '#/components/responses/SherlocksCategoriesListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Sherlocks Categories List
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/download_link:
    get:
      description: Retrieve the download link for a specific Sherlock instance.
      operationId: getSherlockDownloadlink
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/DownloadLinkResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get Download Url for Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/info:
    get:
      description: Retrieve detailed information for a specific Sherlock instance.
      operationId: getSherlockInfo
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdInfoResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get info of Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/play:
    get:
      description: Start or continue playing a specific Sherlock instance.
      operationId: getSherlockPlay
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdPlayResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Does this do anything Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/progress:
    get:
      description: Retrieve progress information for a specific Sherlock instance.
      operationId: getSherlockProgress
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdProgressResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get progress of Sherlock item by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/tasks:
    get:
      description: Retrieve tasks for a specific Sherlock instance.
      operationId: getSherlockTasks
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdTasksResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get tasks for Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/tasks/{taskId}/flag:
    post:
      description: Submit a flag for a specific task in a Sherlock instance.
      operationId: postSherlockTasksFlag
      parameters:
        - $ref: '#/components/parameters/SherlockId'
        - $ref: '#/components/parameters/TaskId'
      requestBody:
        $ref: '#/components/requestBodies/SherlocksTasksFlagRequest'
      responses:
        '201':
          $ref: '#/components/responses/SherlocksSherlockIdTasksTaskIdFlag201'
        '400':
          $ref: '#/components/responses/SherlocksSherlockIdTasksTaskIdFlag400'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Submit flag for a specific Sherlock task
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/writeup:
    get:
      description: Retrieve a writeup for a specific Sherlock instance.
      operationId: getSherlockWriteup
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdWriteupResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get community write-up for Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/writeup/official:
    get:
      description: Retrieve the official writeup for a specific Sherlock instance.
      operationId: getSherlockWriteupOfficial
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdWriteupOfficialResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get official write-up for Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockSlug}:
    get:
      description: Retrieve information for a specific Sherlock instance.
      operationId: getSherlock
      parameters:
        - $ref: '#/components/parameters/SherlockSlug'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksNameResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get Sherlock by Id
      tags:
        - Sherlocks
  /sp/tiers/progress:
    get:
      description: Retrieve progress of SP tiers.
      operationId: getSPTiersProgress
      responses:
        '200':
          $ref: '#/components/responses/SpTiersProgressResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Summary for get /sp/tiers/progress
      tags:
        - Starting Point
  /team/activity/{teamId}:
    get:
      description: Retrieve a handful of recent team owns. (Does not indicate which member achieved each item)
      operationId: getTeamActivity
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/NPastDays'
      responses:
        '200':
          $ref: '#/components/responses/TeamActivityTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Recent team Activity
      tags:
        - Team
  /team/info/{teamId}:
    get:
      description: Retrieve the information profile for a team including captain, motto and other attributes.
      operationId: getTeamInfo
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamInfoTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get team profile
      tags:
        - Team
  /team/invitations/{teamId}:
    get:
      description: list the pending team members who have requested to join a team, or who were requested by the team captain, but have not yet accepted / been approved.
      operationId: getTeamInvitations
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamInvitationsTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list team Invitations
      tags:
        - Team
  /team/kick/{userId}:
    post:
      description: Removes a team member from the team. Requires Captain of the team
      parameters:
        - $ref: '#/components/parameters/UserId'
      operationId: postTeamKickUser
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Remove Team member
      tags:
        - Team
  /team/members/{teamId}:
    get:
      description: list the members of a team (both active and pending / invited), given its ID.
      operationId: getTeamMembers
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamMembersTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list team members
      tags:
        - Team
  /team/{requestId}/invite/accept:
    post:
      description: accept the invitation
      operationId: postTeamInviteAccept
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/Generic400Error'
      summary: Accept Invitation
      tags:
        - Team
  /team/{requestId}/invite/reject:
    delete:
      description: delete the invitation
      operationId: deleteTeamInviteReject
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/Generic400Error'
      summary: Delete Invitation
      tags:
        - Team
  /tracks:
    get:
      description: Retrieves information related to /tracks
      operationId: getTracks
      responses:
        '200':
          $ref: '#/components/responses/TracksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list Available Tracks
      tags:
        - Tracks
  /tracks/enroll/{trackId}:
    post:
      description: Enroll to track
      operationId: postTracksEnroll
      parameters:
        - in: path
          name: trackId
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TracksEnrollResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Enroll to track
      tags:
        - Tracks
  /tracks/like/{trackId}:
    post:
      description: Like a track
      operationId: postTracksLike
      parameters:
        - in: path
          name: trackId
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TracksLikeResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Like a track
      tags:
        - Tracks
  /tracks/{trackId}:
    get:
      description: Retrieves information related to /tracks/{id}
      operationId: getTracksId
      parameters:
        - description: ID of the Track
          in: path
          name: trackId
          required: true
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/TracksIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Track Details
      tags:
        - Tracks
  /university/activity/{universityId}:
    get:
      description: Univeritiy Activity
      operationId: getUniversityActivity
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityActivityResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Univeritiy Activity
      tags:
        - Universities
  /university/all/list:
    get:
      description: Retrieve a list of all universities.
      operationId: getUniversityAllList
      parameters:
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/UniversityAllListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Retrieve information profile for teams
      tags:
        - Universities
  /university/members/{universityId}:
    get:
      description: Retrieve the list of members of a team, including both active and pending/invited members
      operationId: getUniversityMembers
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityMembersTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get team members
      tags:
        - Universities
  /university/profile/{universityId}:
    get:
      description: Retrieve the profile of a university by team ID.
      operationId: getUniversityProfile
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityProfileTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Retrieve information profile for a specific team
      tags:
        - Universities
  /user/achievement/{targetType}/{userId}/{targetId}:
    get:
      description: Validate Achievement / Own
      operationId: getUserAchievement
      parameters:
        - $ref: '#/components/parameters/UserId'
        - description: Target ID
          in: path
          name: targetId
          required: true
          schema:
            type: integer
        - description: Target Type
          in: path
          name: targetType
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/UserAchievementTarTypeUserIdTarIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Validate Achievement / Own
      tags:
        - User
  /user/anonymized/id:
    get:
      description: Retrieves information related to /user/anonymized/id
      operationId: getUserAnonymizedId
      responses:
        '200':
          $ref: '#/components/responses/UserAnonymizedIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Anonymous ID'
      tags:
        - User
  /user/apptoken/create:
    post:
      description: User App Token Create
      operationId: postUserApptokenCreate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                expire_after:
                  type: number
                name:
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/UserApptokenCreateResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: User App Token Create
      tags:
        - User
  /user/apptoken/delete:
    post:
      description: Delete app token, requires the name of the token
      operationId: postUserApptokenDelete
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Delete App Token
      tags:
        - User
  /user/apptoken/list:
    get:
      description: Get /user/apptoken/list
      operationId: getUserApptokenList
      responses:
        '200':
          $ref: '#/components/responses/UserApptokenListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: User App Tokens List
      tags:
        - User
  /user/connection/status:
    get:
      description: Retrieves information related to /user/connection/status
      operationId: getUserConnectionStatus
      deprecated: true
      responses:
        '200':
          $ref: '#/components/responses/UserConnectionStatusResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Connection Status [ Connected ]'
      tags:
        - User
  /user/disrespect/{userId}:
    post:
      description: Remove respect from user
      operationId: postUserDisrespect
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Remove respect from user
      tags:
        - User
  /user/follow/{userId}:
    post:
      description: Follow a user
      operationId: postUserFollow
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Follow a user
      tags:
        - User
  /user/followers:
    get:
      description: Retrieves information related to /user/followers
      operationId: getUserFollowers
      responses:
        '200':
          $ref: '#/components/responses/UserFollowersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Followers'
      tags:
        - User
  /user/info:
    get:
      description: Retrieves information related to /user/info
      operationId: getUserInfo
      responses:
        '200':
          $ref: '#/components/responses/UserInfoResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get user information
      tags:
        - User
  /user/profile/badges/{userId}:
    get:
      description: Retrieves information related to /user/profile/badges/{user id}
      operationId: getUserProfileBadges
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Rare'
      responses:
        '200':
          $ref: '#/components/responses/ProfileBadgesUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: badges'
      tags:
        - User
  /user/profile/basic/{userId}:
    get:
      description: Retrieves information related to /user/profile/basic/{user id}
      operationId: getUserProfileBasic
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/UserProfileBasicUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Other user's profile
      tags:
        - User
  /user/profile/bloods/{userId}:
    get:
      description: Retrieves information related to /user/profile/bloods/{user id}
      operationId: getUserProfileBloods
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileBloodsUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: Bloods'
      tags:
        - User
  /user/profile/chart/machines/attack/{userId}:
    get:
      description: Retrieves information related to /user/profile/chart/machines/attack/{user id}
      operationId: getUserProfileChartMachinesAttack
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileChartMachinesAttackUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: machine Ownage Chart By Attack Path'
      tags:
        - User
  /user/profile/graph/{period}/{userId}:
    get:
      description: Retrieves information related to /user/profile/graph/{period}/{user id}
      operationId: getUserProfileGraph
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/PeriodPath'
      responses:
        '200':
          $ref: '#/components/responses/ProfileGraphPeriodUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: Achievement Graph'
      tags:
        - User
  /user/profile/progress/challenges/{userId}:
    get:
      description: Retrieves information related to /user/profile/progress/challenges/{user id}
      operationId: getUserProfileProgressChallenges
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileProgressChallengesUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User Progress: challenges (Total + by Category)'
      tags:
        - User
  /user/profile/progress/fortress/{userId}:
    get:
      description: Retrieves information related to /user/profile/progress/fortress/{user id}
      operationId: getUserProfileProgressFortress
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileProgressFortressUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User Progress: fortress'
      tags:
        - User
  /user/profile/progress/prolab/{userId}:
    get:
      description: Retrieves information related to /user/profile/progress/prolab/{user id}
      operationId: getUserProfileProgressProlab
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileProgressProlabUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User Progress: Pro Lab'
      tags:
        - User
  /user/profile/progress/sherlocks/{userId}:
    get:
      description: User Profile Progreess Sherlocks
      operationId: getUserProfileProgressSherlocks
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/UserProfileProgressSherlocksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: User Profile Progreess Sherlocks
      tags:
        - User
  /user/profile/summary:
    get:
      description: Retrieves information related to /user/profile/summary
      operationId: getUserProfileSummary
      responses:
        '200':
          $ref: '#/components/responses/UserProfileSummaryResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: User Profile Summary
      tags:
        - User
  /user/respect/{userId}:
    post:
      description: Respect a user
      operationId: postUserRespect
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Respect a user
      tags:
        - User
  /user/settings:
    get:
      description: Retrieves information related to /user/settings
      operationId: getUserSettings
      responses:
        '200':
          $ref: '#/components/responses/UserSettingsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Settings'
      tags:
        - User
  /user/tracks:
    get:
      description: Retrieves information related to /user/tracks
      operationId: getUserTracks
      responses:
        '200':
          $ref: '#/components/responses/UserTracksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Enrolled Tracks'
      tags:
        - User
  /user/unfollow/{userId}:
    post:
      description: Unfollow a user
      operationId: postUserUnfollow
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Unfollow a user
      tags:
        - User
  /vm/extend:
    post:
      description: Extend the virtual machine.
      operationId: postVMExtend
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMExtendResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Extend a machine / SP
      tags:
        - VM
  /vm/reset:
    post:
      description: Reset the virtual machine.
      operationId: postVMReset
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/VmReset400'
      summary: Reset a machine / SP
      tags:
        - VM
  /vm/reset/vote:
    post:
      description: Reset the virtual machine.
      operationId: postVMResetVote
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/VmReset400'
      summary: Vote to Reset a machine
      tags:
        - VM
  /vm/reset/vote/accept:
    post:
      description: Reset the virtual machine.
      operationId: postVMResetVoteAccept
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/VmReset400'
      summary: Accept vote to Reset a machine
      tags:
        - VM
  /vm/spawn:
    post:
      description: Spawn a virtual machine.
      operationId: postVMSpawn
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/GenericError'
        '500':
          $ref: '#/components/responses/GenericError5xx'
      summary: Spawn a machine / SP
      tags:
        - VM
  /vm/terminate:
    post:
      description: Terminate a virtual machine.
      operationId: postVMTerminate
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/GenericError'
        '500':
          $ref: '#/components/responses/GenericError5xx'
      summary: Terminate a machine / SP
      tags:
        - VM
  /{product}/todo/update/{productId}:
    post:
      description: Update Todo list
      operationId: postTodoUpdate
      parameters:
        - $ref: '#/components/parameters/ProductPath'
        - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          $ref: '#/components/responses/TodoUpdateResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Update Todo list
      tags:
        - Machines
        - Sherlocks
        - Challenges
components:
  securitySchemes:
    bearer:
      description: Need to create token on app.hackthebox.com
      scheme: bearer
      type: http
  parameters:
    VpnId:
      description: ID of the vpn server
      in: path
      name: vpnId
      required: true
      schema:
        type: integer
    ChallengeId:
      description: ID of the product
      in: path
      name: challengeId
      required: true
      schema:
        type: integer
    ChallengeSlug:
      description: ID or Name of the product
      in: path
      name: challengeSlug
      required: true
      schema:
        type: string
    Page:
      description: Page number
      in: query
      name: page
      required: false
      schema:
        type: integer
    PerPage:
      description: Limit results per page
      in: query
      name: per_page
      required: false
      schema:
        maximum: 100
        minimum: 5
        type: integer
    Status:
      description: Omit for both
      in: query
      name: status
      required: false
      schema:
        enum:
          - incompleted
          - complete
        type: string
    State:
      description: Filter by state. You can provide multiple values. For example, state=active&state=retired.
      explode: true
      in: query
      name: state
      schema:
        items:
          enum:
            - active
            - retired
            - unreleased
          type: string
        type: array
      style: form
    SortBy:
      description: Field to sort by
      in: query
      name: sort_by
      required: false
      schema:
        enum:
          - release-date
          - name
          - user-owns
          - system-owns
          - rating
          - user-difficulty
        type: string
    SortType:
      description: Sort type (asc or desc)
      in: query
      name: sort_type
      required: false
      schema:
        enum:
          - asc
          - desc
        type: string
    Difficulty:
      description: Filter by difficulty level
      explode: true
      in: query
      name: difficulty[]
      required: false
      schema:
        items:
          enum:
            - very-easy
            - easy
            - medium
            - hard
            - insane
          type: string
        type: array
      style: form
    Keyword:
      description: Search String
      in: query
      name: keyword
      required: false
      schema:
        example: hack
        type: string
    Category:
      description: |
        Filter by category. You can provide multiple values. For example,
        category[]=15&category[]=20. See /v4/{productName}/categories/list for full list
      explode: true
      in: query
      name: category[]
      schema:
        items:
          type: integer
        type: array
      style: form
    Todo:
      description: Filter ToDo
      in: query
      name: todo
      required: false
      schema:
        enum:
          - 1
        format: int
        type: integer
    Product:
      description: Select vpn server
      in: query
      name: product
      required: true
      schema:
        enum:
          - competitive
          - labs
          - starting_point
          - fortresses
        type: string
    ProlabId:
      description: ID of the product
      in: path
      name: prolabId
      required: true
      schema:
        type: integer
    FortressId:
      description: ID of the product
      in: path
      name: fortressId
      required: true
      schema:
        type: integer
    MachineId:
      description: ID of the product
      in: path
      name: machineId
      required: true
      schema:
        type: integer
    MachineSlug:
      description: Can be the ID or Name of a box
      in: path
      name: machineSlug
      required: true
      schema:
        type: string
    ProductId:
      description: ID of the product
      in: path
      name: productId
      required: true
      schema:
        type: integer
    ProductPath:
      description: Product Name
      in: path
      name: product
      required: true
      schema:
        enum:
          - machine
          - challenge
          - sherlock
        type: string
    Query:
      description: Search String
      in: query
      name: query
      required: true
      schema:
        example: hack
        type: string
    SearchTags:
      description: Search Term
      in: query
      name: tags
      required: false
      schema:
        items:
          enum:
            - machines
            - challenges
            - users
            - teams
          type: string
        maxItems: 1
        minItems: 1
        type: array
    SeasonId:
      description: ID of the Season
      in: path
      name: seasonId
      required: true
      schema:
        type: integer
    UserId:
      description: ID of the user
      in: path
      name: userId
      required: true
      schema:
        type: integer
    Leaderboard:
      description: players or teams
      in: path
      name: leaderboard
      required: true
      schema:
        enum:
          - players
          - teams
        type: string
    PeriodQuery:
      description: One of ["1Y", "6M", "3M", "1M", "1W"]
      in: query
      name: period
      required: true
      schema:
        default: 1W
        enum:
          - 1Y
          - 6M
          - 3M
          - 1M
          - 1W
        type: string
    SherlockSortBy:
      description: Attribute to sort by
      in: query
      name: sort_by
      schema:
        enum:
          - solves
          - category
          - rating
          - name
        type: string
    SherlockId:
      description: ID of the Sherlock
      in: path
      name: sherlockId
      required: true
      schema:
        type: integer
    TaskId:
      description: ID of the task
      in: path
      name: taskId
      required: true
      schema:
        type: integer
    SherlockSlug:
      description: ID or Name of the Sherlock
      in: path
      name: sherlockSlug
      required: true
      schema:
        type: string
    TeamId:
      description: ID of the team
      in: path
      name: teamId
      required: true
      schema:
        type: integer
    NPastDays:
      description: number of past days, max 90
      in: query
      name: n_past_days
      required: false
      schema:
        type: integer
    RequestId:
      description: Request ID
      in: path
      name: requestId
      required: true
      schema:
        type: integer
    UniversityId:
      description: ID of the Univeritiy
      in: path
      name: universityId
      required: true
      schema:
        type: integer
    Search:
      description: Search
      in: query
      name: search
      required: false
      schema:
        type: string
    Rare:
      description: Number of rare badges to retrieve
      in: query
      name: rare
      required: false
      schema:
        maximum: 20
        minimum: 1
        type: integer
    PeriodPath:
      description: One of ["1Y", "6M", "3M", "1M", "1W"]
      in: path
      name: period
      required: true
      schema:
        enum:
          - 1Y
          - 6M
          - 3M
          - 1M
          - 1W
        type: string
  headers:
    XRateLimitHeader:
      description: Total requests allowed
      schema:
        example: 15
        format: int
        type: integer
    XRateLimitRemainingHeader:
      description: Remaining requests allowed
      schema:
        example: 14
        format: int
        type: integer
  schemas:
    OpenVpn:
      description: Schema definition for Open Vpn
      format: binary
      title: Open VPN
      type: string
    Message:
      description: Schema definition for Message
      properties:
        message:
          description: Return message
          type: string
      title: Message
      type: object
    Badge:
      description: Schema definition for Badge
      properties:
        badge_category_id:
          example: 1
          type: integer
        color:
          example: gold
          nullable: true
          type: string
        description_en:
          example: Has been in the Top 10 of the Hall of Fame.
          type: string
        icon:
          example: far fa-list-ol
          type: string
        id:
          example: 2
          type: integer
        name:
          example: Top 10
          type: string
        rarity:
          type: number
        users_count:
          example: 326
          type: integer
      title: Badge
      type: object
    BadgeCategoryItems:
      items:
        $ref: '#/components/schemas/Badge'
      type: array
    BadgeCategory:
      properties:
        badges:
          $ref: '#/components/schemas/BadgeCategoryItems'
        description:
          type: string
        id:
          type: integer
        name:
          type: string
      type: object
    BadgeCategories:
      items:
        $ref: '#/components/schemas/BadgeCategory'
      type: array
    BadgesResponse:
      description: Schema definition for Badges Response
      properties:
        categories:
          $ref: '#/components/schemas/BadgeCategories'
      title: Badges Response
      type: object
    ChallengeActivity:
      description: Schema definition for Challenge Activity
      properties:
        created_at:
          example: '2020-02-07T20:03:28.000000Z'
          format: date-time
          type: string
        date:
          example: February 7th, 2020 10:03 pm
          type: string
        date_diff:
          example: 4 years ago
          type: string
        type:
          example: blood
          type: string
        user_avatar:
          example: /storage/avatars/fd5b946aaadbb0254014fa10a22dd403.png
          type: string
          nullable: true
        user_id:
          example: 82600
          type: integer
        user_name:
          example: del_KZx497Ju
          type: string
      title: Challenge Activity
      type: object
    ChallengActivityActivities:
      items:
        $ref: '#/components/schemas/ChallengeActivity'
      type: array
    ChallengeActivityInfo:
      properties:
        activity:
          $ref: '#/components/schemas/ChallengActivityActivities'
      type: object
    ChallengeActivityResponse:
      description: Schema definition for Challenge Activity Response
      properties:
        info:
          $ref: '#/components/schemas/ChallengeActivityInfo'
      title: Challenge Activity Response
      type: object
    CategoriesItem:
      properties:
        icon:
          example: https://labs.hackthebox.com/storage/challenge_categories/c20ad4d76fe97759aa27a0c99bff6710.svg
          nullable: true
          type: string
        id:
          example: 21
          type: integer
        name:
          example: AI - ML
          type: string
      type: object
    CategoriesListInfo:
      items:
        $ref: '#/components/schemas/CategoriesItem'
      type: array
    CategoriesListResponse:
      description: Schema definition for Categories List Response
      properties:
        info:
          $ref: '#/components/schemas/CategoriesListInfo'
      type: object
    StringArray:
      type: array
      nullable: true
      items:
        type: string
        nullable: true
    ChallengeChangelogIdResponse:
      description: Schema definition for Challenge Changelog Id Response
      properties:
        data:
          $ref: '#/components/schemas/StringArray'
        status:
          type: boolean
      title: Challenge Change Log Id Response
      type: object
    DownloadLink:
      description: Schema definition for Sherlock Download Link
      properties:
        expires_in:
          type: integer
        url:
          type: string
      title: Sherlock Download Link
    IntArray:
      type: array
      nullable: true
      items:
        type: integer
    PlayInfoAlt:
      type: object
      properties:
        status:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        ip:
          type: string
          nullable: true
        ports:
          $ref: '#/components/schemas/IntArray'
      description: Alternate structure of PlayInfo used in Sherlocks and Challenges
    DifficultyChart:
      oneOf:
        - type: array
          items: {}
          maxItems: 0
        - type: object
          properties:
            counterBitHard:
              example: 7
              type: integer
            counterBrainFuck:
              example: 6
              type: integer
            counterCake:
              example: 23
              type: integer
            counterEasy:
              example: 26
              type: integer
            counterExHard:
              example: 1
              type: integer
            counterHard:
              example: 1
              type: integer
            counterMedium:
              example: 9
              type: integer
            counterTooEasy:
              example: 17
              type: integer
            counterTooHard:
              example: 3
              type: integer
            counterVeryEasy:
              example: 35
              type: integer
    Tag:
      description: Schema definition for Tag
      properties:
        id:
          type: integer
        name:
          type: string
        tag_category_id:
          type: integer
      title: Tag
      type: object
    TagCategoryTagsItems:
      items:
        $ref: '#/components/schemas/Tag'
      type: array
    Challenge:
      description: Schema definition for Challenge
      properties:
        authUserHasReviewed:
          example: false
          type: boolean
        reviews_count:
          type: integer
        play_info:
          $ref: '#/components/schemas/PlayInfoAlt'
        docker_status:
          nullable: true
          type: string
        show_go_vip:
          type: boolean
        has_changelog:
          type: boolean
        authUserSolve:
          example: false
          type: boolean
        authUserSolveTime:
          example: null
          nullable: true
          type: string
        can_access_walkthough:
          type: boolean
        category_name:
          example: Crypto
          type: string
        creator2_avatar:
          example: null
          nullable: true
          type: string
        creator2_id:
          example: null
          nullable: true
          type: integer
        creator2_name:
          example: null
          nullable: true
          type: string
        creator_avatar:
          example: /storage/avatars/2a956277f4de5800bf659c63cbbd140b.png
          type: string
        creator_id:
          example: 185587
          type: integer
        creator_name:
          example: DaysOfLife
          type: string
        description:
          example: The more the merrier, right? We decided to mash two of the best cryptosytems together for the best product...
          type: string
        difficulty:
          example: Medium
          type: string
        difficulty_chart:
          $ref: '#/components/schemas/DifficultyChart'
        dislikeByAuthUser:
          example: false
          type: boolean
        dislikes:
          example: 0
          type: integer
        docker:
          example: true
          nullable: true
          type: boolean
        docker_ip:
          example: null
          nullable: true
          type: string
        docker_ports:
          type: array
          nullable: true
          allOf:
            - $ref: '#/components/schemas/IntArray'
        download:
          example: true
          type: boolean
        file_name:
          type: string
          nullable: true
        file_size:
          type: string
          nullable: true
        first_blood_time:
          example: 0H 39M 49S
          type: string
        first_blood_user:
          example: sampriti
          type: string
        first_blood_user_avatar:
          example: /storage/avatars/03d6176149e9fe81c83590dd4e7a5225.png
          type: string
        first_blood_user_id:
          example: 836
          type: integer
        id:
          example: 206
          type: integer
        isRespected:
          example: false
          type: boolean
        isRespected2:
          example: null
          nullable: true
          type: boolean
        isTodo:
          example: false
          type: boolean
        likeByAuthUser:
          example: false
          type: boolean
        likes:
          example: 0
          type: integer
        name:
          example: Composition
          type: string
        play_methods:
          $ref: '#/components/schemas/StringArray'
        points:
          oneOf:
            - type: integer
            - type: string
        recommended:
          example: 0
          type: integer
        release_date:
          example: '2021-04-02T20:00:00.000000Z'
          format: date-time
          type: string
        released:
          example: 1
          type: integer
        retired:
          example: true
          type: boolean
        sha256:
          example: b3edd221b1ca7ae93673ddcbdfe5dbe2109998db2865f0e1b8ec5cc9fac56492
          type: string
          nullable: true
        solves:
          example: 704
          type: integer
        stars:
          example: 4.8
          format: float
          type: number
        state:
          example: retired
          type: string
        tags:
          $ref: '#/components/schemas/TagCategoryTagsItems'
        user_can_review:
          example: true
          type: boolean
        user_submitted_difficulty:
          type: integer
          nullable: true
        avatar_url:
          type: string
      title: Challenge
      type: object
    ChallengeResponse:
      description: Schema definition for Challenge Id Response
      properties:
        challenge:
          $ref: '#/components/schemas/Challenge'
      title: Challenge Id Response
      type: object
    ChallengeOwnRequest:
      description: Schema definition for Own Request
      properties:
        challenge_id:
          example: 597
          type: integer
        difficulty:
          example: 50
          type: integer
        flag:
          example: 0cc175b9c0f1b6a831c399e269772661
          type: string
      required:
        - difficulty
        - challenge_id
        - flag
      title: Own Request
      type: object
    NewRank:
      properties:
        id:
          example: 5
          type: integer
        text:
          nullable: true
          type: string
      type: object
    UserRank:
      properties:
        changed:
          type: boolean
        newrank:
          $ref: '#/components/schemas/NewRank'
      type: object
    OwnResponse:
      description: Schema definition for Own Response
      properties:
        message:
          example: machine owned successfully!
          type: string
        user_rank:
          $ref: '#/components/schemas/UserRank'
      title: Own Response
      type: object
    OwnMachineErrorResponse:
      description: Schema definition for Own Machine Error Response
      properties:
        message:
          example: Incorrect flag!
          type: string
        status:
          example: 400
          type: integer
      title: Own Machine Error Response
      type: object
    RecommendedCard:
      description: Schema definition for Recommended Card
      properties:
        category_name:
          example: AI - ML
          type: string
        difficulty:
          example: Medium
          type: string
        id:
          example: 753
          type: integer
        name:
          example: Prometheon
          type: string
        rating:
          example: 0
          type: number
        release_date:
          example: '2024-08-09T20:00:00.000000Z'
          type: string
        retire_challenge_id:
          example: 445
          type: integer
        retired:
          example: false
          type: boolean
        state:
          example: unreleased
          type: string
        url_name:
          example: prometheon
          type: string
        avatar_url:
          type: string
      title: Recommended Card
      type: object
    ChallengeRecommendedResponse:
      description: Schema definition for Challenge Recommended Response
      properties:
        card1:
          $ref: '#/components/schemas/RecommendedCard'
        card2:
          $ref: '#/components/schemas/RecommendedCard'
        state:
          $ref: '#/components/schemas/StringArray'
          example:
            - coming
            - retiring
      title: Challenge Recommended Response
      type: object
    ChallengeStartResponse:
      description: Schema definition for Challenge Start Response
      properties:
        id:
          example: 1214160
          type: integer
        message:
          example: Instance Created!
          type: string
      title: Challenge Start Response
      type: object
    Messagesuccess:
      description: Schema definition for Message
      properties:
        message:
          description: Return message and success
          type: string
        success:
          type: boolean
      title: Message
      type: object
    ChallengeSuggestedData:
      properties:
        challenge_category_name:
          type: string
        id:
          type: integer
        name:
          type: string
        url_name:
          type: string
        avatar_url:
          type: string
      type: object
    ChallengeSuggestedResponse:
      description: Schema definition for Challenge Suggested Response
      properties:
        data:
          $ref: '#/components/schemas/ChallengeSuggestedData'
        message:
          type: string
        status:
          type: boolean
      title: Challenge Suggested Response
      type: object
    OfficialWriteup:
      properties:
        filename:
          type: string
        sha256:
          type: string
        url:
          type: string
        video_url:
          example: https://www.youtube.com/watch?v=bv08UcIL1po
          type: string
          nullable: true
      type: object
    WriteupData:
      properties:
        official:
          $ref: '#/components/schemas/OfficialWriteup'
      type: object
    ChallengeWriteupResponse:
      description: Schema definition for Challenge Writeup Response
      properties:
        data:
          $ref: '#/components/schemas/WriteupData'
      title: Challenge writeups
      type: object
    ChallengeRetires:
      properties:
        name:
          type: string
        difficulty:
          type: string
      type: object
      nullable: true
    Label:
      description: Schema definition for Label
      properties:
        color:
          type: string
        name:
          type: string
      title: Label
      type: object
    LabelItems:
      items:
        $ref: '#/components/schemas/Label'
      type: array
    ChallengeList:
      description: Schema definition for Challenge List
      properties:
        auth_user_has_reviewed:
          example: false
          type: boolean
        avatar:
          example: null
          nullable: true
          type: string
        category_id:
          example: 4
          type: integer
        category_name:
          example: Pwn
          type: string
        difficulty:
          example: Very Easy
          type: string
        difficulty_chart:
          $ref: '#/components/schemas/DifficultyChart'
        id:
          example: 706
          type: integer
        is_owned:
          example: false
          type: boolean
        name:
          example: Regularity
          type: string
        pinned:
          type: boolean
        play_methods:
          $ref: '#/components/schemas/StringArray'
        rating:
          example: 4
          format: float
          nullable: true
          type: number
        rating_count:
          example: 1
          type: integer
        release_date:
          example: '2024-06-07T20:00:00.000000Z'
          format: date-time
          type: string
        retires:
          $ref: '#/components/schemas/ChallengeRetires'
          nullable: true
        solves:
          example: 132
          type: integer
        state:
          example: retired
          type: string
        user_difficulty:
          example: '3.33'
          type: string
        labels:
          $ref: '#/components/schemas/LabelItems'
      title: Challenge List
      type: object
    ChallengeListData:
      items:
        $ref: '#/components/schemas/ChallengeList'
      type: array
    Links:
      description: Schema definition for Links
      properties:
        first:
          example: https://labs.hackthebox.com/api/v4/prolab/1/reviews?page=1
          type: string
        last:
          example: https://labs.hackthebox.com/api/v4/prolab/1/reviews?page=11
          type: string
        next:
          example: https://labs.hackthebox.com/api/v4/prolab/1/reviews?page=2
          nullable: true
          type: string
        prev:
          example: null
          nullable: true
          type: string
      title: Links
      type: object
    PaginationLink:
      description: Schema definition for Pagination Link
      properties:
        active:
          example: true
          type: boolean
        label:
          example: '1'
          type: string
        page:
          example: 1
          type: integer
          nullable: true
        url:
          example: https://labs.hackthebox.com/api/v4/prolab/1/reviews?page=1
          nullable: true
          type: string
      title: Pagination Link
      type: object
    PaginationLinks:
      items:
        $ref: '#/components/schemas/PaginationLink'
      type: array
    Meta:
      description: Schema definition for Meta
      properties:
        current_page:
          example: 1
          type: integer
        from:
          example: 1
          type: integer
        last_page:
          example: 11
          type: integer
        links:
          $ref: '#/components/schemas/PaginationLinks'
        path:
          example: https://labs.hackthebox.com/api/v4/prolab/1/reviews
          type: string
        per_page:
          example: 15
          type: integer
        to:
          example: 15
          type: integer
        total:
          example: 162
          type: integer
      title: Meta
      type: object
    ChallengeListResponse:
      description: Schema definition for Challenge List Response
      properties:
        data:
          $ref: '#/components/schemas/ChallengeListData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      title: Challenge List Response
      type: object
    Connection:
      properties:
        down:
          type: number
        ip4:
          type: string
        ip6:
          type: string
        name:
          type: string
        through_pwnbox:
          type: boolean
        up:
          type: number
      type: object
    ConnectionServer:
      properties:
        friendly_name:
          type: string
        hostname:
          type: string
        id:
          type: integer
        pro_lab_id:
          type: integer
      type: object
    ConnectionStatusItem:
      properties:
        connection:
          $ref: '#/components/schemas/Connection'
        location_type_friendly:
          type: string
        server:
          $ref: '#/components/schemas/ConnectionServer'
        type:
          type: string
        connection_type:
          type: string
      type: object
    ConnectionStatusResponse:
      description: Schema definition for Connection Status Response
      items:
        $ref: '#/components/schemas/ConnectionStatusItem'
      title: Connection Status Response
      type: array
    AssignedServerConnectionsServers:
      description: Schema definition for Assigned Server
      nullable: true
      properties:
        current_clients:
          example: 85
          type: integer
        friendly_name:
          example: US VIP+ 1
          type: string
        id:
          example: 289
          type: integer
        location:
          example: US
          type: string
        location_type_friendly:
          type: string
        pro_lab_id:
          type: integer
      title: Assigned Server
      type: object
    Server:
      description: Schema definition for Server
      properties:
        current_clients:
          example: 85
          type: integer
        friendly_name:
          example: US VIP+ 1
          type: string
        full:
          example: false
          type: boolean
        id:
          example: 289
          type: integer
        location:
          example: US
          type: string
      title: Server
      type: object
    ServerGroup:
      description: Schema definition for Server Group
      properties:
        location:
          example: EU
          type: string
        name:
          example: EU - Free
          type: string
        servers:
          additionalProperties:
            $ref: '#/components/schemas/Server'
          type: object
      title: Server Group
      type: object
    Options:
      additionalProperties:
        additionalProperties:
          $ref: '#/components/schemas/ServerGroup'
        type: object
      description: Schema definition for Options
      title: Options
      type: object
    ConnectionsServerData:
      properties:
        assigned:
          $ref: '#/components/schemas/AssignedServerConnectionsServers'
        disabled:
          example: false
          type: boolean
        options:
          $ref: '#/components/schemas/Options'
      type: object
    ConnectionsServerResponse:
      description: Schema definition for Connections Server Response
      properties:
        data:
          $ref: '#/components/schemas/ConnectionsServerData'
        status:
          type: boolean
      title: Connections Server Response
      type: object
    ConnectionsServersProlabData:
      properties:
        assigned:
          $ref: '#/components/schemas/AssignedServerConnectionsServers'
        options:
          $ref: '#/components/schemas/Options'
      type: object
    ConnectionsServersProlabResponse:
      properties:
        data:
          $ref: '#/components/schemas/ConnectionsServersProlabData'
        status:
          type: boolean
      type: object
    ServerConnection:
      description: Schema definition for Assigned Server
      nullable: true
      properties:
        current_clients:
          example: 85
          type: integer
        friendly_name:
          example: US VIP+ 1
          type: string
        id:
          example: 289
          type: integer
        location:
          example: US
          type: string
      title: Assigned Server
      type: object
    ConnectionServerSwitchResponse:
      description: Schema definition for Connection Server Switch Response
      properties:
        data:
          $ref: '#/components/schemas/ServerConnection'
        message:
          example: VPN server switched
          type: string
        status:
          example: true
          type: boolean
      title: Connection Server Switch Resposne
      type: object
    ContainerStartResponse:
      description: Schema definition for Container Start Response
      properties:
        id:
          example: 1214160
          type: integer
        message:
          example: Instance Created!
          type: string
      title: Container Start Response
      type: object
    Company:
      description: Schema definition for Company
      properties:
        description:
          example: <p>Jet.com is currently looking for Security Engineers in the USA.</p>...
          format: html
          type: string
        id:
          example: 3
          type: integer
        image:
          example: https://labs.hackthebox.com/storage/companies/3.png
          type: string
        name:
          example: Jet.com
          type: string
        url:
          example: https://jet.com/careers
          type: string
      title: Company
      type: object
    Flag:
      description: Schema definition for Flag
      properties:
        id:
          example: 1
          type: integer
        owned:
          example: false
          type: boolean
        points:
          example: 5
          type: integer
        title:
          example: Connect
          type: string
      title: Flag
      type: object
    FlagsItems:
      items:
        $ref: '#/components/schemas/Flag'
      type: array
    UserAvailability:
      description: Schema definition for User Availability
      properties:
        available:
          example: true
          type: boolean
        code:
          example: 0
          type: integer
        message:
          nullable: true
          type: string
      title: User Availability
      type: object
    FortressData:
      description: Schema definition for Fortress Data
      properties:
        company:
          $ref: '#/components/schemas/Company'
        completion_message:
          example: null
          nullable: true
          type: string
        cover_image_url:
          example: https://labs.hackthebox.com/storage/fortresses/c4ca4238a0b923820dcc509a6f75849b_cover_full.png
          type: string
        description:
          example: Lift off with this introductory fortress from Jet! Featuring interesting web vectors and challenges, this fortress is perfect for those getting started.
          type: string
        flags:
          $ref: '#/components/schemas/FlagsItems'
        has_completion_message:
          example: false
          type: boolean
        id:
          example: 1
          type: integer
        image:
          example: https://labs.hackthebox.com/storage/fortresses/c4ca4238a0b923820dcc509a6f75849b_logo.svg
          type: string
        ip:
          example: 10.13.37.10
          format: ipv4
          type: string
        name:
          example: Jet
          type: string
        players_completed:
          example: 2504
          type: integer
        points:
          example: '100'
          type: string
        progress_percent:
          example: 0
          type: number
        reset_votes:
          example: 0
          type: integer
        user_availability:
          $ref: '#/components/schemas/UserAvailability'
      title: Fortress Data
      type: object
    FortressIdResponse:
      description: Schema definition for Fortress Id Response
      properties:
        data:
          $ref: '#/components/schemas/FortressData'
        status:
          example: true
          type: boolean
      title: Fortress Id Response
      type: object
    ProductFlagsResponse:
      description: Schema definition for Prodcut Flags Response
      properties:
        data:
          $ref: '#/components/schemas/FlagsItems'
        status:
          example: true
          type: boolean
      title: Product Flags Response
      type: object
    GameResetResponse:
      description: Vote Reset Game
      properties:
        message:
          example: Voted
          type: string
        status:
          example: true
          type: boolean
      type: object
    Fortress:
      description: Schema definition for Fortress
      properties:
        cover_image_url:
          example: https://labs.hackthebox.com/storage/fortresses/c4ca4238a0b923820dcc509a6f75849b_cover_small.png
          format: uri
          type: string
        id:
          example: 1
          type: integer
        image:
          example: https://labs.hackthebox.com/storage/fortresses/c4ca4238a0b923820dcc509a6f75849b_logo.svg
          format: uri
          type: string
        name:
          example: Jet
          type: string
        new:
          example: false
          type: boolean
        number_of_flags:
          example: 11
          type: integer
        owned_flags:
          type: integer
        ownership:
          type: number
      title: Fortress
      type: object
    FortressesResponse:
      description: Schema definition for Fortresses Response
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Fortress'
        status:
          example: true
          type: boolean
      title: Fortresses Response
      type: object
    HomeBannerItem:
      properties:
        image:
          type: string
        link:
          type: string
        new_window:
          type: boolean
      type: object
    HomeBannerItems:
      items:
        $ref: '#/components/schemas/HomeBannerItem'
      type: array
    HomeBannerResponse:
      description: Schema definition for Home Banner Response
      properties:
        data:
          $ref: '#/components/schemas/HomeBannerItems'
      title: Home Banner Response
      type: object
    ActiveMachineInfo:
      properties:
        avatar:
          example: /storage/avatars/23e804513a47e8f20bc865d0419946e1.png
          type: string
          nullable: true
        expires_at:
          example: '2024-05-18 17:42:04'
          type: string
        id:
          example: 597
          type: integer
        ip:
          example: 10.129.56.30
          format: ipv4
          nullable: true
          type: string
        isSpawning:
          example: false
          type: boolean
        lab_server:
          example: vip_lab
          type: string
        name:
          example: Usage
          type: string
        tier_id:
          example: null
          nullable: true
          type: string
        type:
          example: Free
          type: string
        voted:
          example: null
          nullable: true
          type: string
        voting:
          example: null
          nullable: true
          type: string
        vpn_server_id:
          example: 289
          nullable: true
          type: integer
      type: object
    ActiveMachineResponse:
      properties:
        info:
          type: object
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ActiveMachineInfo'
      type: object
    MachineAcitivtyItem:
      properties:
        blood_type:
          nullable: true
          type: string
        created_at:
          type: string
[...]
