openapi: 3.0.4
info:
  contact:
    name: ' '
  description: The undocumented public API v4 for the Hack The Box platform. This OpenAPI specification is community-maintained and reverse-engineered. This project  is not affiliated with or endorsed by HTB.
  license:
    name: The Unlicense
    url: https://unlicense.org/
  title: HTB Unofficial API v4
  version: v0.3.3
servers:
  - description: HTB API
    url: https://labs.hackthebox.com/api/v4
security:
  - bearer: []
tags:
  - description: Endpoints related to platform badges
    name: Badges
  - description: Endpoints related to Careers
    name: Career
  - description: Endpoints related to Challenges
    name: Challenges
  - description: Endpoints related to VPN connections
    name: Connection
  - description: Endpoints related to Fortresses
    name: Fortresses
  - description: Endpoints related to the Home page banner
    name: Home
  - description: Endpoints related to Machines
    name: Machines
  - description: Endpoints related to the platform (General)
    name: Platform
  - description: Endpoints related to ProLabs
    name: Prolabs
  - description: Endpoints related to PwnBox
    name: PwnBox
  - description: Endpoints related to Rankings
    name: Ranking
  - description: Product reviews
    name: Review
  - description: Endpoints related to Seasons/Arenas
    name: Season
  - description: Endpoints related to Sherlocks
    name: Sherlocks
  - description: Endpoints related to Starting Point
    name: Starting Point
  - description: Endpoints related to Team Rankings
    name: Team
  - description: Endpoints related to Tracks
    name: Tracks
  - description: Endpoints related to University Rankings
    name: Universities
  - description: Endpoints related to User Profiles
    name: User
  - description: Endpoints related to spawning VMs for Machines and Starting Point
    name: VM
paths:
  /access/ovpnfile/{vpnId}/0:
    get:
      description: Fetches the UDP OpenVPN configuration file for the specified VPN ID, allowing the user to establish a VPN connection
      operationId: getAccessOvpnfileVpnIdUDP
      parameters:
        - $ref: '#/components/parameters/VpnId'
      responses:
        '200':
          $ref: '#/components/responses/AccessOvpnfileVpnId0Response'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Download UDP VPN config
      tags:
        - Connection
  /access/ovpnfile/{vpnId}/0/1:
    get:
      description: Fetches the TCP OpenVPN configuration file for the specified VPN ID, allowing the user to establish a VPN connection
      operationId: getAccessOvpnfileVpnIdTCP
      parameters:
        - $ref: '#/components/parameters/VpnId'
      responses:
        '200':
          $ref: '#/components/responses/AccessOvpnfileVpnId0Response'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Download TCP VPN config
      tags:
        - Connection
  /announcements:
    get:
      description: Get Announcements
      operationId: getAnnouncements
      responses:
        '200':
          $ref: '#/components/responses/AnnouncementResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Announcements
      tags:
        - Platform
  /arena/own:
    post:
      description: Submit Seasonal Flag - MUST USE THIS TO GET POINTS FOR SEASON
      operationId: postArenaOwn
      requestBody:
        $ref: '#/components/requestBodies/ArenaOwnRequest'
      responses:
        '200':
          $ref: '#/components/responses/MultiOwnResponse'
        '400':
          $ref: '#/components/responses/Generic400Error'
        '500':
          $ref: '#/components/responses/ArenaOwnErrorResponse'
      summary: 'IMPORTANT: MUST USE FOR ACTIVE SEASON POINTS'
      tags:
        - Season
  /badges:
    get:
      description: Returns a list of all available and obtained badges
      operationId: getBadges
      responses:
        '200':
          $ref: '#/components/responses/BadgesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: List all platform badges
      tags:
        - Badges
  /career/companies:
    get:
      description: Get /career/companies
      operationId: getCareerCompanies
      responses:
        '200':
          $ref: '#/components/responses/CareerCompaniesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of companies
      tags:
        - Career
  /career/company/{companyId}:
    get:
      description: Get company detail
      operationId: getCareerCompany
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/CompanyId'
      responses:
        '200':
          $ref: '#/components/responses/CareerCompanyResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Company Detail
      tags:
        - Career
  /career/featured:
    get:
      description: Returns a list of featured jobs
      operationId: getCareerFeatured
      responses:
        '200':
          $ref: '#/components/responses/CareerFeaturedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Featured jobs
      tags:
        - Career
  /career/history:
    get:
      description: Returns a list of all jobs that the user has applied for
      operationId: getCareerHistory
      responses:
        '200':
          $ref: '#/components/responses/CareerHistoryResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: History of applied jobs
      tags:
        - Career
  /career/info/{jobId}:
    get:
      description: Get career info
      operationId: getCareerInfo
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          $ref: '#/components/responses/CareerInfoResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Job Description
      tags:
        - Career
  /career/profile:
    get:
      description: Returns a list of profile information related to the user's career settings
      operationId: getCareerProfile
      responses:
        '200':
          $ref: '#/components/responses/CareerProfileResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Career profile
      tags:
        - Career
  /career/requests:
    get:
      description: Get /career/requests
      operationId: getCareerRequests
      parameters:
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/CareerRequestsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Career Requests
      tags:
        - Career
  /career/search:
    get:
      description: Returns a list of all jobs that match the search query
      operationId: getCareerSearch
      parameters:
        - $ref: '#/components/parameters/SearchQuery'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/AfterDate'
        - $ref: '#/components/parameters/Rank'
      responses:
        '200':
          $ref: '#/components/responses/CareerSearchResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Search posted jobs
      tags:
        - Career
  /career/stats:
    get:
      description: Returns a number of new jobs posted today and the total number of jobs posted on the platform
      operationId: getCareerStats
      responses:
        '200':
          $ref: '#/components/responses/CareerStatsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Stats
      tags:
        - Career
  /career/temporary/contact/optin:
    post:
      description: This is the toggle in the career page to allow companies to reach out to you
      operationId: postCareerTemporaryContactOptin
      requestBody:
        content:
          application/json:
            schema:
              properties:
                opt_in:
                  type: boolean
              type: object
      responses:
        '204':
          description: No Content
          headers:
            x-ratelimit-limit:
              $ref: '#/components/headers/XRateLimitHeader'
            x-ratelimit-remaining:
              $ref: '#/components/headers/XRateLimitRemainingHeader'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Optin to Career Contacting
      tags:
        - Career
  /challenge/activity/{challengeId}:
    get:
      description: Provides a list of users that have completed the challenge
      operationId: getChallengeActivity
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeActivityResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: List of owns related to a specific challenge
      tags:
        - Challenges
  /challenge/categories/list:
    get:
      description: Provides a list of challenge catatories
      operationId: getChallengeCategoriesList
      responses:
        '200':
          $ref: '#/components/responses/ChallengeCategoriesListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: List categories
      tags:
        - Challenges
  /challenge/changelog/{challengeId}:
    get:
      description: Provides change details to a challenge
      operationId: getChallengeChangelog
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeChangelogChallengeIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Changelog for a specific challenge
      tags:
        - Challenges
  /challenge/download/{challengeId}:
    get:
      description: Returns a zip file
      operationId: getChallengeDownload
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeDownloadChallengeIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Download zip file related to a specific challenge
      tags:
        - Challenges
  /challenge/info/{challengeSlug}:
    get:
      description: Provides a list of the challege details by id or name
      operationId: getChallengeInfo
      parameters:
        - $ref: '#/components/parameters/ChallengeSlug'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeInfoChallengeResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Info details of the specific challenge
      tags:
        - Challenges
  /challenge/own:
    post:
      description: Submit flag for Challenge
      operationId: postChallengeOwn
      requestBody:
        $ref: '#/components/requestBodies/ChallengeOwnRequest'
      responses:
        '200':
          $ref: '#/components/responses/OwnResponse'
        '400':
          $ref: '#/components/responses/MachineOwn400'
      summary: Submit flag for Challenge
      tags:
        - Challenges
  /challenge/recommended:
    get:
      description: Provides information about a unreleased challenge along with a challenge that is about to retire
      operationId: getChallengeRecommended
      responses:
        '200':
          $ref: '#/components/responses/ChallengeRecommendedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Challenge Recommendation Cards
      tags:
        - Challenges
  /challenge/recommended/retired:
    get:
      description: Provides information about two retired challenges
      operationId: getChallengeRecommendedRetired
      responses:
        '200':
          $ref: '#/components/responses/ChallengeRecommendedRetiredResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Challenge Recommendation Cards (Retired)
      tags:
        - Challenges
  /challenge/review:
    post:
      description: Submits data for /challenge/review
      operationId: postChallengeReview
      requestBody:
        $ref: '#/components/requestBodies/ChallengeReviewRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Submit challenge review
      tags:
        - Challenges
  /challenge/review/helpful/{reviewId}:
    post:
      description: Submits data for /challenge/review/helpful/{review id}
      operationId: postChallengeHelpfull
      parameters:
        - $ref: '#/components/parameters/ReviewId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Mark Review as helpful
      tags:
        - Challenges
  /challenge/reviews/user/{challengeId}:
    get:
      description: Retrieves information related to /challenge/reviews/user/{challenge id}
      operationId: getChallengeReviewsUser
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeReviewsUserChallengeIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Bearer's review for challenge
      tags:
        - Challenges
  /challenge/start:
    post:
      description: Starts a challenge container with challenge_id
      operationId: postChallengeStart
      requestBody:
        $ref: '#/components/requestBodies/ChallengeStartStopRequest'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeStartResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Starts a challenge
      tags:
        - Challenges
  /challenge/stop:
    post:
      description: Stops a challenge container with challenge_id
      operationId: postChallengeStop
      requestBody:
        $ref: '#/components/requestBodies/ChallengeStartStopRequest'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeStopResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Stops a challenge
      tags:
        - Challenges
  /challenge/suggested:
    get:
      description: Retrieves information related to /challenge/suggested
      operationId: getChallengeSuggested
      responses:
        '200':
          $ref: '#/components/responses/ChallengeSuggestedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: challenge Suggestion
      tags:
        - Challenges
  /challenge/{challengeId}/writeup:
    get:
      description: Gets a write-up for a challenge from challenge id
      operationId: getChallengeWriteup
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeWriteupResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get a write-up for a challenge
      tags:
        - Challenges
  /challenge/{challengeId}/writeup/official:
    get:
      description: Get Official Writeup
      operationId: getChallengeWriteupOfficial
      parameters:
        - $ref: '#/components/parameters/ChallengeId'
      responses:
        '200':
          $ref: '#/components/responses/GenericPDFResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Official PDF Writeup
      tags:
        - Challenges
  /challenges:
    get:
      description: Porivdes a list of challenges with limited challenge info
      operationId: getChallenges
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/State'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortType'
        - $ref: '#/components/parameters/Difficulty'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Todo'
      responses:
        '200':
          $ref: '#/components/responses/ChallengeListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of challenges
      tags:
        - Challenges
  /changelogs:
    get:
      description: Possibly depreciated, no updates since 2021
      operationId: getChangelogs
      responses:
        '200':
          $ref: '#/components/responses/ChangelogsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Dashboard: Interface changelog'
      tags:
        - Platform
  /connection/status:
    get:
      description: Retrieve the connection status.
      operationId: getConnectionStatus
      responses:
        '200':
          $ref: '#/components/responses/ConnectionStatusResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Current Active Connections
      tags:
        - Connection
  /connection/status/prolab/{prolabId}:
    get:
      description: Get VPN Server status
      operationId: getConnectionStatusProlab
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ConnectionStatusProductResponse'
        '400':
          $ref: '#/components/responses/Generic400Error'
      summary: Get VPN Server status
      tags:
        - Connection
  /connection/status/{productName}:
    get:
      description: Get VPN Server status
      operationId: getConnectionStatusProductname
      parameters:
        - $ref: '#/components/parameters/ProductName'
      responses:
        '200':
          $ref: '#/components/responses/ConnectionStatusProductResponse'
        '400':
          $ref: '#/components/responses/Generic400Error'
      summary: Get VPN Server status
      tags:
        - Connection
  /connections:
    get:
      description: Shows a list of the last set vpn servers
      operationId: getConnections
      responses:
        '200':
          $ref: '#/components/responses/ConnectionsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Last set connections
      tags:
        - Connection
  /connections/servers:
    get:
      description: Retrieve a list of connection servers.
      operationId: getConnectionsServers
      parameters:
        - $ref: '#/components/parameters/Product'
      responses:
        '200':
          $ref: '#/components/responses/ConnectionsServersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list VPN servers
      tags:
        - Connection
  /connections/servers/prolab/{prolabId}:
    get:
      description: Get Prolab VPN Servers
      operationId: getConnectionsServersProlab
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ConnectionsServersProlabResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Prolab VPN Servers
      tags:
        - Connection
  /connections/servers/switch/{vpnId}:
    post:
      description: See `/v4/connections/servers` for valid ids
      operationId: postConnectionsServersSwitch
      parameters:
        - $ref: '#/components/parameters/VpnId'
      responses:
        '200':
          $ref: '#/components/responses/ConnectionsServersSwitchVpnIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Swtich VPN server
      tags:
        - Connection
  /content/stats:
    get:
      description: Retrieves information related to /content/stats
      operationId: getContentStats
      responses:
        '200':
          $ref: '#/components/responses/ContentStatsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Dashboard: machine, challenge Counts'
      tags:
        - Platform
  /fortress/{fortressId}:
    get:
      description: Retrieves information related to /fortress/{fortress id}
      operationId: getFortress
      parameters:
        - $ref: '#/components/parameters/FortressId'
      responses:
        '200':
          $ref: '#/components/responses/FortressFortressIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get fortress profile
      tags:
        - Fortresses
  /fortress/{fortressId}/flag:
    post:
      description: Submit flag
      operationId: postFortressFlag
      parameters:
        - $ref: '#/components/parameters/FortressId'
      requestBody:
        $ref: '#/components/requestBodies/MultiOwnRequest'
      responses:
        '200':
          $ref: '#/components/responses/MultiOwnResponse'
        '400':
          $ref: '#/components/responses/MultiOwn400'
      summary: Submit flag
      tags:
        - Fortresses
  /fortress/{fortressId}/flags:
    get:
      description: Retrieve flags for a specific fortress.
      operationId: getFortressFlags
      parameters:
        - $ref: '#/components/parameters/FortressId'
      responses:
        '200':
          $ref: '#/components/responses/ProductFlagsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of flags
      tags:
        - Fortresses
  /fortress/{fortressId}/reset:
    post:
      description: Vote Reset Fortress
      operationId: postFortressReset
      parameters:
        - $ref: '#/components/parameters/FortressId'
      responses:
        '200':
          $ref: '#/components/responses/GameResetResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Vote Reset Fortress
      tags:
        - Fortresses
  /fortresses:
    get:
      description: Retrieves information related to /fortresses
      operationId: getFortresses
      responses:
        '200':
          $ref: '#/components/responses/FortressesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of fortresses
      tags:
        - Fortresses
  /home/banners:
    get:
      description: Retrieves information related to /home/banners
      operationId: getHomeBanner
      responses:
        '200':
          $ref: '#/components/responses/HomeBannersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Home Banner
      tags:
        - Home
  /home/recommended:
    get:
      description: Retrieves information related to /home/recommended
      operationId: getHomeRecommended
      responses:
        '200':
          $ref: '#/components/responses/HomeRecommendedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Home Recommended
      tags:
        - Home
  /home/user/progress:
    get:
      description: Retrieves information related to /home/user/progress
      operationId: getHomeUserProgress
      responses:
        '200':
          $ref: '#/components/responses/HomeUserProgressResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Home User Progress
      tags:
        - Home
  /home/user/todo:
    get:
      description: Retrieves information related to /home/user/todo
      operationId: getHomeUserTodo
      responses:
        '200':
          $ref: '#/components/responses/HomeUserTodoResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Home User ToDo
      tags:
        - Home
  /lab/list:
    get:
      description: Retrieves information related to /lab/list
      operationId: getLabList
      responses:
        '200':
          $ref: '#/components/responses/LabListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Dashboard: list HTB servers (Connection Points)'
      tags:
        - Platform
  /machine/active:
    get:
      description: Retrieves information related to /machine/active
      operationId: getMachineActive
      responses:
        '200':
          $ref: '#/components/responses/MachineActiveResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get active machine details
      tags:
        - Machines
  /machine/activity/{machineId}:
    get:
      description: Retrieves information related to /machine/activity/{machine id}
      operationId: getMachineActivity
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineActivityMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: Activity'
      tags:
        - Machines
  /machine/changelog/{machineId}:
    get:
      description: Retrieves information related to /machine/changelog/{machine id}
      operationId: getMachineChangelog
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineChangelogMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: changelog'
      tags:
        - Machines
  /machine/graph/activity/{machineId}/{period}:
    get:
      description: Retrieves information related to /machine/graph/activity/{machine id}/{period}
      operationId: getMachineGraphActivity
      parameters:
        - $ref: '#/components/parameters/MachineId'
        - $ref: '#/components/parameters/PeriodPath'
      responses:
        '200':
          $ref: '#/components/responses/MachineGraphActivityMachineIdPeriodResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Graph Data: Activity'
      tags:
        - Machines
  /machine/creators/{machineId}:
    get:
      description: Retrieves the creator(s) basic information for a machine
      operationId: getMachineCreators
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineCreatorResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Gets the creator(s) of a machine
      tags:
        - Machines
  /machine/graph/matrix/{machineId}:
    get:
      description: Retrieves graph matrix
      operationId: getMachineGraphMatrix
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineGraphMatrixMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Machine Graph Matrix
      tags:
        - Machines
  /machine/graph/owns/difficulty/{machineId}:
    get:
      description: Retrieves machine graph difficulty
      operationId: getMachineGraphOwnsDifficulty
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineGraphOwnsDifficultyMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Machine Graph Difficulty
      tags:
        - Machines
  /machine/list/retired/paginated:
    get:
      description: Retrieve a paginated list of retired machines.
      operationId: getMachineListRetiredPaginated
      parameters:
        - $ref: '#/components/parameters/Free'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/ShowCompleted'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortType'
        - $ref: '#/components/parameters/Difficulty'
        - $ref: '#/components/parameters/Os'
        - $ref: '#/components/parameters/Tags'
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200':
          $ref: '#/components/responses/MachinePaginatedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get paginated list of retired machines
      tags:
        - Machines
  /machine/own:
    post:
      description: Submit flag for Machine
      deprecated: true
      operationId: postMachineOwn
      requestBody:
        $ref: '#/components/requestBodies/OwnRequest'
      responses:
        '200':
          $ref: '#/components/responses/OwnResponse'
        '400':
          $ref: '#/components/responses/MachineOwn400'
      summary: See v5 api. Submit flag for Challenge or Machine
      tags:
        - Machines
  /machine/owns/top/{machineId}:
    get:
      description: Retrieves information related to /machine/owns/top/{machine id}
      operationId: getMachineOwnsTop
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineOwnsTopMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: Top 25 Owners'
      tags:
        - Machines
  /machine/paginated:
    get:
      description: Retrieve a paginated list of machines.
      operationId: getMachinePaginated
      parameters:
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/ShowCompleted'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/SortType'
        - $ref: '#/components/parameters/Difficulty'
        - $ref: '#/components/parameters/Os'
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200':
          $ref: '#/components/responses/MachinePaginatedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
        '422':
          $ref: '#/components/responses/GenericError'
      summary: Get paginated list of active machines
      tags:
        - Machines
  /machine/profile/{machineSlug}:
    get:
      description: Retrieves profile information by id or name
      operationId: getMachineProfile
      parameters:
        - $ref: '#/components/parameters/MachineSlug'
      responses:
        '200':
          $ref: '#/components/responses/MachineProfileMachineResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get machine profile by id or name
      tags:
        - Machines
  /machine/recommended:
    get:
      description: Retrieves information related to /machine/recommended
      operationId: getMachineRecommended
      responses:
        '200':
          $ref: '#/components/responses/MachineRecommendedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get recommended machines
      tags:
        - Machines
  /machine/recommended/retired:
    get:
      description: Retrieves information related to /machine/recommended/retired
      operationId: getMachineRecommendedRetired
      responses:
        '200':
          $ref: '#/components/responses/MachineRecommendedRetiredResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: machine Recommendation Card (Retired)
      tags:
        - Machines
  /machine/review:
    post:
      description: Submit a review for a machine.
      operationId: postMachineReview
      requestBody:
        $ref: '#/components/requestBodies/MachineReviewRequest'
      responses:
        '200':
          $ref: '#/components/responses/MachineReviewResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: review a machine
      tags:
        - Machines
  /machine/reviews/user/{machineId}:
    get:
      description: Retrieves information related to /machine/reviews/user/{machine id}
      operationId: getMachineReviewsUser
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineReviewsUserMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Bearer's review for machine
      tags:
        - Machines
  /machine/reviews/{machineId}:
    get:
      deprecated: true
      description: Retrieves reviews for a machine
      operationId: getMachineReviews
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineReviewsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Use /reviews/{product}/{productId}/paginated
      tags:
        - Machines
  /machine/tags/list:
    get:
      description: Retrieve a list of machine tags.
      operationId: getMachineTagsList
      responses:
        '200':
          $ref: '#/components/responses/MachineTagsListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get machine tags list
      tags:
        - Machines
  /machine/tags/{machineId}:
    get:
      description: Retrieves information related to /machine/tags/{machine id}
      operationId: getMachineTags
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineTagsMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: tags (Attack Path, Sub, Language)'
      tags:
        - Machines
  /machine/todo/paginated:
    get:
      description: Get /machine/todo/paginated
      operationId: getMachineTodoPaginated
      parameters:
        - $ref: '#/components/parameters/SortType'
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Difficulty'
        - $ref: '#/components/parameters/ShowCompleted'
        - $ref: '#/components/parameters/Os'
      responses:
        '200':
          $ref: '#/components/responses/MachinePaginatedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Machine Todo List
      tags:
        - Machines
  /machine/unreleased:
    get:
      description: Retrieves information related to /machine/unreleased
      operationId: getMachineUnreleased
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Difficulty'
        - $ref: '#/components/parameters/Os'
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200':
          $ref: '#/components/responses/MachineUnreleasedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list Release-Scheduled machines
      tags:
        - Machines
  /machine/walkthrough/random:
    get:
      description: Get Rnadom Walkthrough
      operationId: getMachineWalkthroughRandom
      responses:
        '200':
          $ref: '#/components/responses/MachineWalkthroughRandomResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Random Walkthrough
      tags:
        - Machines
  /machine/walkthroughs/language/list:
    get:
      description: Retrieves information related to /machine/walkthroughs/language/list
      operationId: getMachineWalkthroughsLanguageList
      responses:
        '200':
          $ref: '#/components/responses/MachineWalkthroughsLanguageListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: list Walkthrough Language options'
      tags:
        - Machines
  /machine/walkthroughs/official/feedback-choices:
    get:
      description: Retrieves Feedback Choices
      operationId: getMachineWalkthroughOfficialFeedbackChoices
      responses:
        '200':
          $ref: '#/components/responses/MachineWalkthroughOfficialFeedbackChoicesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Feedback Choices
      tags:
        - Machines
  /machine/walkthroughs/{machineId}:
    get:
      description: Retrieves information related to /machine/walkthroughs/{machine id}
      operationId: getMachineWalkthroughs
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineWalkthroughsMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: list Walkthroughs'
      tags:
        - Machines
  /machine/writeup/{machineId}:
    get:
      description: _response is of a pdf file
      operationId: getMachineWriteup
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineWriteupMachineIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'machine: Get Official Writeup (if Available) by machine ID'
      tags:
        - Machines
  /machines/{machineId}/adventure:
    get:
      description: Get Machine Adventure
      operationId: getMachineAdventure
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachinesAdventureResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Machine Adventure
      tags:
        - Machines
  /machines/{machineId}/tasks:
    get:
      description: Get Machine Tasks
      operationId: getMachineTasks
      parameters:
        - $ref: '#/components/parameters/MachineId'
      responses:
        '200':
          $ref: '#/components/responses/MachineTasksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Machine Tasks
      tags:
        - Machines
  /navigation/main:
    get:
      description: Retrieve main navigation details.
      operationId: getNavigationMain
      responses:
        '200':
          $ref: '#/components/responses/NavigationMainResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get platform navigation details
      tags:
        - Platform
  /notices:
    get:
      description: Retrieve notices.
      operationId: getNotices
      responses:
        '200':
          $ref: '#/components/responses/NoticesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get platform notices
      tags:
        - Platform
  /prolab/{prolabId}/changelogs:
    get:
      description: Get Prolab Changelog
      operationId: getProlabChangelogs
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  status:
                    type: boolean
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Changelogs
      tags:
        - Prolabs
  /prolab/{prolabId}/faq:
    get:
      description: Retrieves information related to /prolab/{prolab id}/faq
      operationId: getProlabFaq
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabfaqResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab FAQ
      tags:
        - Prolabs
  /prolab/{prolabId}/flag:
    post:
      description: Submit flag
      operationId: postProlabFlag
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      requestBody:
        $ref: '#/components/requestBodies/MultiOwnRequest'
      responses:
        '200':
          $ref: '#/components/responses/MultiOwnResponse'
        '400':
          $ref: '#/components/responses/MultiOwn400'
      summary: Submit flag
      tags:
        - Prolabs
  /prolab/{prolabId}/flags:
    get:
      description: Retrieve flags for a specific prolab.
      operationId: getProlabFlags
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProductFlagsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of flags
      tags:
        - Prolabs
  /prolab/{prolabId}/info:
    get:
      description: Retrieves information related to /prolab/{prolab id}/info
      operationId: getProlabInfo
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabinfoResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab Info
      tags:
        - Prolabs
  /prolab/{prolabId}/machines:
    get:
      description: Retrieves information related to /prolab/{prolab id}/machines
      operationId: getProlabMachines
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabmachinesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab machine list
      tags:
        - Prolabs
  /prolab/{prolabId}/overview:
    get:
      description: Retrieves information related to /prolab/{prolab id}/overview
      operationId: getProlabOverview
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlaboverviewResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab Overview
      tags:
        - Prolabs
  /prolab/{prolabId}/progress:
    get:
      description: Get Prolab Progress
      operationId: getProlabProgress
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabProgressResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Prolab Progress
      tags:
        - Prolabs
  /prolab/{prolabId}/rating:
    get:
      description: Get /prolab/{prolabId}/rating
      operationId: getProlabRating
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabRatingResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Prolab Rating
      tags:
        - Prolabs
  /prolab/{prolabId}/reviews:
    get:
      description: Retrieves information related to /prolab/{prolab id}/reviews
      operationId: getProlabReviews
      parameters:
        - $ref: '#/components/parameters/ProlabId'
        - description: Page number
          in: query
          name: page
          required: false
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/ProlabreviewsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab reviews (Paginated)
      tags:
        - Prolabs
  /prolab/{prolabId}/reviews_overview:
    get:
      description: Retrieves information related to /prolab/{prolab id}/reviews overview
      operationId: getProlabReviewsOverview
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabreviewsOverviewResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Pro Lab reviews Overview
      tags:
        - Prolabs
  /prolab/{prolabId}/subscription:
    get:
      description: Get Prolab Subscription
      operationId: getProlabSubscription
      parameters:
        - $ref: '#/components/parameters/ProlabId'
      responses:
        '200':
          $ref: '#/components/responses/ProlabSubscriptionResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Subscription
      tags:
        - Prolabs
  /prolabs:
    get:
      description: Retrieves information related to /prolabs
      operationId: getProlabs
      responses:
        '200':
          $ref: '#/components/responses/ProlabsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of Pro Labs
      tags:
        - Prolabs
  /pwnbox/start:
    post:
      description: Start a Pwnbox instance.
      operationId: postPwnboxStart
      requestBody:
        $ref: '#/components/requestBodies/PwnboxStartRequest'
      responses:
        '200':
          $ref: '#/components/responses/PwnboxStartResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Start a Pwnbox instance
      tags:
        - PwnBox
  /pwnbox/status:
    get:
      description: Retrieve the status of a Pwnbox instance.
      operationId: getPwnboxStatus
      responses:
        '200':
          $ref: '#/components/responses/PwnboxStatusResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get status of a Pwnbox instance.
      tags:
        - PwnBox
  /pwnbox/terminate:
    post:
      description: Terminate a Pwnbox instance.
      operationId: postPwnboxTerminate
      responses:
        '204':
          $ref: '#/components/responses/PwnboxTerminate204'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Stop Pwnbox
      tags:
        - PwnBox
  /pwnbox/usage:
    get:
      description: Retrieve usage statistics for Pwnbox.
      operationId: getPwnboxUsage
      responses:
        '200':
          $ref: '#/components/responses/PwnboxUsageResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get usage statistics for Pwnbox
      tags:
        - PwnBox
  /rankings:
    get:
      description: Get /rankings
      operationId: getRankings
      responses:
        '200':
          $ref: '#/components/responses/RankingsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Rankings
      tags:
        - Ranking
  /rankings/countries:
    get:
      description: Retrieves information related to /rankings/countries
      operationId: getRankingsCountries
      responses:
        '200':
          $ref: '#/components/responses/RankingsCountriesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Countries
      tags:
        - Ranking
  /rankings/country/best:
    get:
      description: Retrieves information related to /rankings/country/best
      operationId: getRankingsCountryBest
      parameters:
        - $ref: '#/components/parameters/PeriodQuery'
      responses:
        '200':
          $ref: '#/components/responses/RankingsCountryBestResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Country:  (Bearer''s) - Best for Period'
      tags:
        - Ranking
  /rankings/country/overview:
    get:
      description: Retrieves information related to /rankings/country/overview
      operationId: getRankingsCountryOverview
      parameters:
        - $ref: '#/components/parameters/PeriodQuery'
      responses:
        '200':
          $ref: '#/components/responses/RankingsCountryOverviewResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Country: (Bearer''s) - Overview'
      tags:
        - Ranking
  /rankings/country/ranking_bracket:
    get:
      description: Retrieves information related to /rankings/country/ranking bracket
      operationId: getRankingsCountryRankingBracket
      responses:
        '200':
          $ref: '#/components/responses/RankingsCountryRankingBracketResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Country: (Bearer''s) - Ranking Bracket'
      tags:
        - Ranking
  /rankings/country/{countryShortName}/members:
    get:
      description: Get Rankings Country Members
      operationId: getRankingsCountryUSMembers
      parameters:
        - description: Two letter short name for country, ie US, DE
          in: path
          name: countryShortName
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/RankingsCountryMembersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Rankings Country Members
      tags:
        - Ranking
  /rankings/team/best:
    get:
      description: lists the best global rank achieved, in set intervals for a given period (e.g. 1Y, 6M, 3M, 1M, 1W). Omiting team_id will retrieve Bearers current team.
      operationId: getRankingsTeamBest
      parameters:
        - $ref: '#/components/parameters/PeriodQuery'
      responses:
        '200':
          $ref: '#/components/responses/RankingsTeamBestResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Global Rank History for Bearer's team
      tags:
        - Ranking
  /rankings/team/best/{teamId}:
    get:
      description: lists the best global rank achieved, in set intervals for a given period (e.g. 1Y, 6M, 3M, 1M, 1W). Omiting team_id will retrieve Bearers current team.
      operationId: getRankingsTeamBestId
      parameters:
        - $ref: '#/components/parameters/PeriodQuery'
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/RankingsTeamBestResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Global Rank History by Team Id
      tags:
        - Ranking
  /rankings/team/overview:
    get:
      description: lists the best global rank, in set intervals for a given period (e.g. 1Y, 6M, 3M, 1M, 1W). Omit team_id for Bearers team.
      operationId: getRankingsTeamOverview
      parameters:
        - $ref: '#/components/parameters/PeriodQuery'
      responses:
        '200':
          $ref: '#/components/responses/RankingsTeamOverviewResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Global Points History for Bearer's team
      tags:
        - Ranking
  /rankings/team/overview/{teamId}:
    get:
      description: lists the best global rank, in set intervals for a given period (e.g. 1Y, 6M, 3M, 1M, 1W). Omit team_id for Bearers team.
      operationId: getRankingsTeamOverviewId
      parameters:
        - $ref: '#/components/parameters/PeriodQuery'
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/RankingsTeamOverviewResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Global Points History by Team Id
      tags:
        - Ranking
  /rankings/team/ranking_bracket:
    get:
      description: lists the current team ranking bracket (e.g. "Top 20"), next ranking bracket, total points, points to achieve next bracket, and global rank. Omiting team_id will retrieve Bearers current team.
      operationId: getRankingsTeamRankingBracket
      responses:
        '200':
          $ref: '#/components/responses/RankingsTeamRankingBracketResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Team Ranking Bracket
      tags:
        - Ranking
  /rankings/team/ranking_bracket/{teamId}:
    get:
      description: lists the current team ranking bracket (e.g. "Top 20"), next ranking bracket, total points, points to achieve next bracket, and global rank. Omiting team_id will retrieve Bearers current team.
      operationId: getRankingsTeamRankingBracketId
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/RankingsTeamRankingBracketResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Team Ranking Bracket by Team Id
      tags:
        - Ranking
  /rankings/teams:
    get:
      description: lists the highest-ranked teams on HTB.
      operationId: getRankingsTeams
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/RankingsTeamsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list Top-Ranked Teams
      tags:
        - Ranking
  /rankings/universities:
    get:
      description: Retrieves information related to /rankings/universities
      operationId: getRankingsUniversities
      responses:
        '200':
          $ref: '#/components/responses/RankingsUniversitiesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Universities
      tags:
        - Ranking
  /rankings/university/ranking_bracket/{universityId}:
    get:
      description: Get /rankings/university/ranking_bracket/{ranking_bracket-id}
      operationId: getRankingsUniversityRankingBracketId
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/RankingsUniversityRankingBracketByIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Ranking Univeritiy Brakcet By Id
      tags:
        - Ranking
  /rankings/user/best:
    get:
      description: Get /rankings/user/best
      operationId: getRankingsUserBest
      parameters:
        - $ref: '#/components/parameters/PeriodQuery'
      responses:
        '200':
          $ref: '#/components/responses/RankingsUserBestResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Rankings User Best
      tags:
        - Ranking
  /rankings/user/overview:
    get:
      description: Get /rankings/user/overview
      operationId: getRankingsUserOverview
      parameters:
        - $ref: '#/components/parameters/PeriodQuery'
      responses:
        '200':
          $ref: '#/components/responses/RankingsUserOverviewResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Rankings User Overview
      tags:
        - Ranking
  /rankings/user/ranking_bracket:
    get:
      description: Get /rankings/user/ranking_bracket
      operationId: getRankingsUserRankingBracket
      responses:
        '200':
          $ref: '#/components/responses/RankingsUserRankingBracketResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Rankings User Bracket
      tags:
        - Ranking
  /rankings/users:
    get:
      description: Retrieves information related to /rankings/users
      operationId: getRankingsUsers
      responses:
        '200':
          $ref: '#/components/responses/RankingsUsersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Users
      tags:
        - Ranking
  /review/{product}/{productId}:
    get:
      description: Retrieves reviews
      operationId: getReview
      parameters:
        - $ref: '#/components/parameters/ProductId'
        - $ref: '#/components/parameters/ProductPath'
      responses:
        '200':
          $ref: '#/components/responses/ReviewProductResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Retrieves reviews
      tags:
        - Review
  /review/{product}/{productId}/paginated:
    get:
      description: Retrieves reviews
      operationId: getReviewPaginated
      parameters:
        - $ref: '#/components/parameters/ProductId'
        - $ref: '#/components/parameters/ProductPath'
      responses:
        '200':
          $ref: '#/components/responses/ReviewProductPaginatedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Retrieves reviews
      tags:
        - Review
  /search/fetch:
    get:
      description: Fetch search results.
      operationId: getSearchFetch
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/SearchTags'
      responses:
        '200':
          $ref: '#/components/responses/SearchFetchResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Fetch search results
      tags:
        - Platform
  /season/end/{seasonId}/{userId}:
    get:
      description: Retrieve user score for a season.
      operationId: getSeasonEnd
      parameters:
        - $ref: '#/components/parameters/SeasonId'
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonEndResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get user score for a season
      tags:
        - Season
  /season/list:
    get:
      description: Retrieve a list of seasons.
      operationId: getSeasonList
      responses:
        '200':
          $ref: '#/components/responses/SeasonListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of seasons
      tags:
        - Season
  /season/machine/active:
    get:
      description: Retrieve active season machines.
      operationId: getSeasonMachineActive
      responses:
        '200':
          $ref: '#/components/responses/SeasonMachineActiveResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get active machines for the current season
      tags:
        - Season
  /season/machines:
    get:
      description: Retrieve machines for the current season.
      operationId: getSeasonMachines
      responses:
        '200':
          $ref: '#/components/responses/SeasonMachinesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get season machines
      tags:
        - Season
  /season/machines/completed/{seasonId}:
    get:
      description: Retrieve completed machines for a specific season.
      operationId: getSeasonMachinesCompleted
      parameters:
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonMachinesCompletedSeasonIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get completed machine flags for the current season
      tags:
        - Season
  /season/rewards/{seasonId}:
    get:
      description: Get Season Rewwards
      operationId: getSeasonRewards
      parameters:
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonRewardsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Season Rewwards
      tags:
        - Season
  /season/user/followers/{seasonId}:
    get:
      description: Retrieve user followers for a specific season.
      operationId: getSeasonUserFollowers
      parameters:
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonUserFollowersSeasonIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get top season users and top ranked followers for a user
      tags:
        - Season
  /season/user/rank/{seasonId}:
    get:
      description: Retrieve user rank for a specific season.
      operationId: getSeasonUserRank
      parameters:
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonUserRankSeasonIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get user's rank for the current season
      tags:
        - Season
  /season/{leaderboard}/leaderboard:
    get:
      description: Get /season/players/leaderboard
      operationId: getSeasonLeaderboard
      parameters:
        - $ref: '#/components/parameters/Leaderboard'
        - in: query
          name: season
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SeasonPlayersLeaderboardResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Season Leaderboar
      tags:
        - Season
  /season/{leaderboard}/leaderboard/top/{seasonId}:
    get:
      description: Season Top Leaderboard
      operationId: getSeasonLeaderboardTop
      parameters:
        - $ref: '#/components/parameters/Leaderboard'
        - $ref: '#/components/parameters/PeriodQuery'
        - $ref: '#/components/parameters/SeasonId'
      responses:
        '200':
          $ref: '#/components/responses/SeasonPlatersLeaderboardTopResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Season Leaderboard Top
      tags:
        - Season
  /sherlocks:
    get:
      description: Retrieve a list of Sherlock instances.
      operationId: getSherlocks
      parameters:
        - $ref: '#/components/parameters/SortType'
        - $ref: '#/components/parameters/Difficulty'
        - $ref: '#/components/parameters/State'
        - $ref: '#/components/parameters/SherlockSortBy'
        - $ref: '#/components/parameters/Category'
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get list of Sherlocks
      tags:
        - Sherlocks
  /sherlocks/categories/list:
    get:
      description: Get Sherlocks Categories List
      operationId: getSherlocksCategoriesList
      responses:
        '200':
          $ref: '#/components/responses/SherlocksCategoriesListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Sherlocks Categories List
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/download_link:
    get:
      description: Retrieve the download link for a specific Sherlock instance.
      operationId: getSherlockDownloadlink
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksDownloadLinkResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get Download Url for Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/info:
    get:
      description: Retrieve detailed information for a specific Sherlock instance.
      operationId: getSherlockInfo
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdInfoResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get info of Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/play:
    get:
      description: Start or continue playing a specific Sherlock instance.
      operationId: getSherlockPlay
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdPlayResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Does this do anything Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/progress:
    get:
      description: Retrieve progress information for a specific Sherlock instance.
      operationId: getSherlockProgress
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdProgressResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get progress of Sherlock item by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/tasks:
    get:
      description: Retrieve tasks for a specific Sherlock instance.
      operationId: getSherlockTasks
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdTasksResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get tasks for Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/tasks/{taskId}/flag:
    post:
      description: Submit a flag for a specific task in a Sherlock instance.
      operationId: postSherlockTasksFlag
      parameters:
        - $ref: '#/components/parameters/SherlockId'
        - $ref: '#/components/parameters/TaskId'
      requestBody:
        $ref: '#/components/requestBodies/SherlocksTasksFlagRequest'
      responses:
        '201':
          $ref: '#/components/responses/SherlocksSherlockIdTasksTaskIdFlag201'
        '400':
          $ref: '#/components/responses/SherlocksSherlockIdTasksTaskIdFlag400'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Submit flag for a specific Sherlock task
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/writeup:
    get:
      description: Retrieve a writeup for a specific Sherlock instance.
      operationId: getSherlockWriteup
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdWriteupResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get community write-up for Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockId}/writeup/official:
    get:
      description: Retrieve the official writeup for a specific Sherlock instance.
      operationId: getSherlockWriteupOfficial
      parameters:
        - $ref: '#/components/parameters/SherlockId'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksSherlockIdWriteupOfficialResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get official write-up for Sherlock by ID
      tags:
        - Sherlocks
  /sherlocks/{sherlockSlug}:
    get:
      description: Retrieve information for a specific Sherlock instance.
      operationId: getSherlock
      parameters:
        - $ref: '#/components/parameters/SherlockSlug'
      responses:
        '200':
          $ref: '#/components/responses/SherlocksNameResponse'
        '404':
          $ref: '#/components/responses/SherlocksSherlockId404'
      summary: Get Sherlock by Id
      tags:
        - Sherlocks
  /sidebar/announcement:
    get:
      description: Retrieves information related to /sidebar/announcement
      operationId: getSidebarAnnouncement
      responses:
        '200':
          $ref: '#/components/responses/SidebarAnnouncementResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Sidebar: announcement'
      tags:
        - Platform
  /sidebar/changelog:
    get:
      deprecated: true
      description: Retrieves information related to /sidebar/changelog
      operationId: getSidebarChangelog
      responses:
        '200':
          $ref: '#/components/responses/SidebarChangelogResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Sidebar: changelog'
      tags:
        - Platform
  /sp/profile/{startingPointId}:
    get:
      description: Retrieve the profile information for a specific starting point.
      operationId: getSPProfile
      parameters:
        - $ref: '#/components/parameters/StartingPointId'
      responses:
        '200':
          $ref: '#/components/responses/SpProfileStartingPointIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Summary for get /sp/profile/{startingPointId}
      tags:
        - Starting Point
  /sp/task/flag:
    post:
      description: Submit a flag for an SP task.
      operationId: postSPTaskFlag
      responses:
        '200':
          $ref: '#/components/responses/SpTaskFlagResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Summary for post /sp/task/flag
      tags:
        - Starting Point
  /sp/tier/{tierId}:
    get:
      description: Retrieve details of SP Tier.
      operationId: getSPTier
      parameters:
        - $ref: '#/components/parameters/TierId'
      responses:
        '200':
          $ref: '#/components/responses/SpTierResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Starting Point Tier Info
      tags:
        - Starting Point
  /sp/tiers/progress:
    get:
      description: Retrieve progress of SP tiers.
      operationId: getSPTiersProgress
      responses:
        '200':
          $ref: '#/components/responses/SpTiersProgressResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Summary for get /sp/tiers/progress
      tags:
        - Starting Point
  /team/activity/{teamId}:
    get:
      description: Retrieve a handful of recent team owns. (Does not indicate which member achieved each item)
      operationId: getTeamActivity
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/NPastDays'
      responses:
        '200':
          $ref: '#/components/responses/TeamActivityTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Recent team Activity
      tags:
        - Team
  /team/chart/challenge/categories/{teamId}:
    get:
      description: Retrieve challenge category charts for a team.
      operationId: getTeamChartChallengeCategories
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamChartChallengeTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Challenge Categories by Team ID
      tags:
        - Team
  /team/chart/machines/attack/{teamId}:
    get:
      description: Gets team machine ownage per attack path (e.g. "Web", "Account Misconfiguration"), expressed for each path (and for the total set of machines) as number of machines owned (either user or root, apparently) versus the total number available.
      operationId: getTeamChartMachinesAttack
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamChartMachinesAttackTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get team Ownage by Attack Path
      tags:
        - Team
  /team/graph/{teamId}:
    get:
      description: Get graph data for a team for a given duration (e.g. 1Y, 6M, 3M, 1M, 1W)
      operationId: getTeamGraph
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/PeriodQuery'
      responses:
        '200':
          $ref: '#/components/responses/TeamGraphTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get team Graph for Duration
      tags:
        - Team
  /team/info/{teamId}:
    get:
      description: Retrieve the information profile for a team including captain, motto and other attributes.
      operationId: getTeamInfo
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamInfoTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get team profile
      tags:
        - Team
  /team/invitations/{teamId}:
    get:
      description: list the pending team members who have requested to join a team, or who were requested by the team captain, but have not yet accepted / been approved.
      operationId: getTeamInvitations
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamInvitationsTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list team Invitations
      tags:
        - Team
  /team/kick/{userId}:
    post:
      description: Removes a team member from the team. Requires Captain of the team
      parameters:
        - $ref: '#/components/parameters/UserId'
      operationId: postTeamKickUser
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Remove Team member
      tags:
        - Team
  /team/members/{teamId}:
    get:
      description: list the members of a team (both active and pending / invited), given its ID.
      operationId: getTeamMembers
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamMembersTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list team members
      tags:
        - Team
  /team/stats/owns/{teamId}:
    get:
      description: Retrieves information related to /team/stats/owns/{team id}
      operationId: getTeamStatsOwns
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          $ref: '#/components/responses/TeamStatsOwnsTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get team Statistics (Owns)
      tags:
        - Team
  /team/{requestId}/invite/accept:
    post:
      description: accept the invitation
      operationId: postTeamInviteAccept
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/Generic400Error'
      summary: Accept Invitation
      tags:
        - Team
  /team/{requestId}/invite/reject:
    delete:
      description: delete the invitation
      operationId: deleteTeamInviteReject
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/Generic400Error'
      summary: Delete Invitation
      tags:
        - Team
  /tracks:
    get:
      description: Retrieves information related to /tracks
      operationId: getTracks
      responses:
        '200':
          $ref: '#/components/responses/TracksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: list Available Tracks
      tags:
        - Tracks
  /tracks/enroll/{trackId}:
    post:
      description: Enroll to track
      operationId: postTracksEnroll
      parameters:
        - in: path
          name: trackId
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TracksEnrollResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Enroll to track
      tags:
        - Tracks
  /tracks/like/{trackId}:
    post:
      description: Like a track
      operationId: postTracksLike
      parameters:
        - in: path
          name: trackId
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/TracksLikeResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Like a track
      tags:
        - Tracks
  /tracks/{trackId}:
    get:
      description: Retrieves information related to /tracks/{id}
      operationId: getTracksId
      parameters:
        - description: ID of the Track
          in: path
          name: trackId
          required: true
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/TracksIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get Track Details
      tags:
        - Tracks
  /university/activity/{universityId}:
    get:
      description: Univeritiy Activity
      operationId: getUniversityActivity
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityActivityResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Univeritiy Activity
      tags:
        - Universities
  /university/all/list:
    get:
      description: Retrieve a list of all universities.
      operationId: getUniversityAllList
      parameters:
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          $ref: '#/components/responses/UniversityAllListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Retrieve information profile for teams
      tags:
        - Universities
  /university/chart/challenge/categories/{universityId}:
    get:
      description: Get Univeritiy Challenge Chart Categories
      operationId: getUniversityChartChallengeCategories
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityChartChallengeCategoriesResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: University Challenge Categories Chart
      tags:
        - Universities
  /university/chart/machines/attack/{universityId}:
    get:
      description: University Machine Chart
      operationId: getUniversityChartMachinesAttack
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityChartMachinesAttackResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: University Machine Attack Chart
      tags:
        - Universities
  /university/country/list:
    get:
      description: Univeritiy Country List
      operationId: getUniversityCountryList
      responses:
        '200':
          $ref: '#/components/responses/UniversityCountryListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Univeritiy Country List
      tags:
        - Universities
  /university/members/{universityId}:
    get:
      description: Retrieve the list of members of a team, including both active and pending/invited members
      operationId: getUniversityMembers
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityMembersTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get team members
      tags:
        - Universities
  /university/new/list:
    get:
      description: Univeritiy New List
      operationId: getUniversityNewList
      responses:
        '200':
          $ref: '#/components/responses/UniversityNewListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Univeritiy New List
      tags:
        - Universities
  /university/profile/{universityId}:
    get:
      description: Retrieve the profile of a university by team ID.
      operationId: getUniversityProfile
      parameters:
        - $ref: '#/components/parameters/UniversityId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityProfileTeamIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Retrieve information profile for a specific team
      tags:
        - Universities
  /university/stats/owns/{userId}:
    get:
      description: Retrieve owns statistics for a specific user identified by user_id
      operationId: getUniversityStatsOwns
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/UniversityStatsOwnsUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get owns statistics for a user
      tags:
        - Universities
  /university/top/list:
    get:
      description: Univeritiy Top List
      operationId: getUniversityTopList
      responses:
        '200':
          $ref: '#/components/responses/UniversityTopListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Univeritiy Top List
      tags:
        - Universities
  /user/achievement/{targetType}/{userId}/{targetId}:
    get:
      description: Validate Achievement / Own
      operationId: getUserAchievement
      parameters:
        - $ref: '#/components/parameters/UserId'
        - description: Target ID
          in: path
          name: targetId
          required: true
          schema:
            type: integer
        - description: Target Type
          in: path
          name: targetType
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/UserAchievementTarTypeUserIdTarIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Validate Achievement / Own
      tags:
        - User
  /user/anonymized/id:
    get:
      description: Retrieves information related to /user/anonymized/id
      operationId: getUserAnonymizedId
      responses:
        '200':
          $ref: '#/components/responses/UserAnonymizedIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Anonymous ID'
      tags:
        - User
  /user/apptoken/create:
    post:
      description: User App Token Create
      operationId: postUserApptokenCreate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                expire_after:
                  type: number
                name:
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/UserApptokenCreateResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: User App Token Create
      tags:
        - User
  /user/apptoken/delete:
    post:
      description: Delete app token, requires the name of the token
      operationId: postUserApptokenDelete
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
              type: object
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Delete App Token
      tags:
        - User
  /user/apptoken/list:
    get:
      description: Get /user/apptoken/list
      operationId: getUserApptokenList
      responses:
        '200':
          $ref: '#/components/responses/UserApptokenListResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: User App Tokens List
      tags:
        - User
  /user/banned:
    get:
      description: Retrieves if user is banned
      operationId: getUserBanned
      responses:
        '200':
          $ref: '#/components/responses/UserBannedResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Is Banned'
      tags:
        - User
  /user/connection/status:
    get:
      description: Retrieves information related to /user/connection/status
      operationId: getUserConnectionStatus
      responses:
        '200':
          $ref: '#/components/responses/UserConnectionStatusResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Connection Status [ Connected ]'
      tags:
        - User
  /user/dashboard:
    get:
      description: Retrieves information related to /user/dashboard
      operationId: getUserDashboard
      responses:
        '200':
          $ref: '#/components/responses/UserDashboardResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Dashboard: Various Platform Stats'
      tags:
        - User
  /user/dashboard/tabloid:
    get:
      description: Retrieves information related to /user/dashboard/tabloid
      operationId: getUserDashboardTabloid
      responses:
        '200':
          $ref: '#/components/responses/UserDashboardTabloidResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Dashboard: Various Platform Stats'
      tags:
        - User
  /user/disrespect/{userId}:
    post:
      description: Remove respect from user
      operationId: postUserDisrespect
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Remove respect from user
      tags:
        - User
  /user/follow/{userId}:
    post:
      description: Follow a user
      operationId: postUserFollow
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Follow a user
      tags:
        - User
  /user/followers:
    get:
      description: Retrieves information related to /user/followers
      operationId: getUserFollowers
      responses:
        '200':
          $ref: '#/components/responses/UserFollowersResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Followers'
      tags:
        - User
  /user/info:
    get:
      description: Retrieves information related to /user/info
      operationId: getUserInfo
      responses:
        '200':
          $ref: '#/components/responses/UserInfoResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get user information
      tags:
        - User
  /user/profile/activity/{userId}:
    get:
      description: Retrieves information related to /user/profile/activity/{user id}
      operationId: getUserProfileActivity
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileActivityUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: Activity'
      tags:
        - User
  /user/profile/badges/{userId}:
    get:
      description: Retrieves information related to /user/profile/badges/{user id}
      operationId: getUserProfileBadges
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileBadgesUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: badges'
      tags:
        - User
  /user/profile/basic/{userId}:
    get:
      description: Retrieves information related to /user/profile/basic/{user id}
      operationId: getUserProfileBasic
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/UserProfileBasicUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Other user's profile
      tags:
        - User
  /user/profile/bloods/{userId}:
    get:
      description: Retrieves information related to /user/profile/bloods/{user id}
      operationId: getUserProfileBloods
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileBloodsUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: Bloods'
      tags:
        - User
  /user/profile/chart/machines/attack/{userId}:
    get:
      description: Retrieves information related to /user/profile/chart/machines/attack/{user id}
      operationId: getUserProfileChartMachinesAttack
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileChartMachinesAttackUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: machine Ownage Chart By Attack Path'
      tags:
        - User
  /user/profile/content/{userId}:
    get:
      description: Retrieves information related to /user/profile/content/{user id}
      operationId: getUserProfileContent
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileContentUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: Submitted Content'
      tags:
        - User
  /user/profile/graph/{period}/{userId}:
    get:
      description: Retrieves information related to /user/profile/graph/{period}/{user id}
      operationId: getUserProfileGraph
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/PeriodPath'
      responses:
        '200':
          $ref: '#/components/responses/ProfileGraphPeriodUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User profile: Achievement Graph'
      tags:
        - User
  /user/profile/progress/challenges/{userId}:
    get:
      description: Retrieves information related to /user/profile/progress/challenges/{user id}
      operationId: getUserProfileProgressChallenges
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileProgressChallengesUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User Progress: challenges (Total + by Category)'
      tags:
        - User
  /user/profile/progress/fortress/{userId}:
    get:
      description: Retrieves information related to /user/profile/progress/fortress/{user id}
      operationId: getUserProfileProgressFortress
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileProgressFortressUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User Progress: fortress'
      tags:
        - User
  /user/profile/progress/machines/os/{userId}:
    get:
      description: Get user os profile
      operationId: getUserProfileProgressMachinesOs
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/UserProfileProgressMachinesOsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Get a user os profile
      tags:
        - User
  /user/profile/progress/prolab/{userId}:
    get:
      description: Retrieves information related to /user/profile/progress/prolab/{user id}
      operationId: getUserProfileProgressProlab
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/ProfileProgressProlabUserIdResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'User Progress: Pro Lab'
      tags:
        - User
  /user/profile/progress/sherlocks/{userId}:
    get:
      description: User Profile Progreess Sherlocks
      operationId: getUserProfileProgressSherlocks
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/UserProfileProgressSherlocksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: User Profile Progreess Sherlocks
      tags:
        - User
  /user/profile/summary:
    get:
      description: Retrieves information related to /user/profile/summary
      operationId: getUserProfileSummary
      responses:
        '200':
          $ref: '#/components/responses/UserProfileSummaryResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: User Profile Summary
      tags:
        - User
  /user/respect/{userId}:
    post:
      description: Respect a user
      operationId: postUserRespect
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Respect a user
      tags:
        - User
  /user/settings:
    get:
      description: Retrieves information related to /user/settings
      operationId: getUserSettings
      responses:
        '200':
          $ref: '#/components/responses/UserSettingsResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Settings'
      tags:
        - User
  /user/tracks:
    get:
      description: Retrieves information related to /user/tracks
      operationId: getUserTracks
      responses:
        '200':
          $ref: '#/components/responses/UserTracksResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: 'Bearer: Enrolled Tracks'
      tags:
        - User
  /user/unfollow/{userId}:
    post:
      description: Unfollow a user
      operationId: postUserUnfollow
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess2xx'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Unfollow a user
      tags:
        - User
  /vm/extend:
    post:
      description: Extend the virtual machine.
      operationId: postVMExtend
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMExtendResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Extend a machine / SP
      tags:
        - VM
  /vm/reset:
    post:
      description: Reset the virtual machine.
      operationId: postVMReset
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/VmReset400'
      summary: Reset a machine / SP
      tags:
        - VM
  /vm/reset/vote:
    post:
      description: Reset the virtual machine.
      operationId: postVMResetVote
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/VmReset400'
      summary: Vote to Reset a machine
      tags:
        - VM
  /vm/reset/vote/accept:
    post:
      description: Reset the virtual machine.
      operationId: postVMResetVoteAccept
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/VmReset400'
      summary: Accept vote to Reset a machine
      tags:
        - VM
  /vm/spawn:
    post:
      description: Spawn a virtual machine.
      operationId: postVMSpawn
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/GenericError'
        '500':
          $ref: '#/components/responses/GenericError5xx'
      summary: Spawn a machine / SP
      tags:
        - VM
  /vm/terminate:
    post:
      description: Terminate a virtual machine.
      operationId: postVMTerminate
      requestBody:
        $ref: '#/components/requestBodies/VirtualMachineRequest'
      responses:
        '200':
          $ref: '#/components/responses/VMResponse'
        '400':
          $ref: '#/components/responses/GenericError'
        '500':
          $ref: '#/components/responses/GenericError5xx'
      summary: Terminate a machine / SP
      tags:
        - VM
  /{product}/todo/update/{productId}:
    post:
      description: Update Todo list
      operationId: postTodoUpdate
      parameters:
        - $ref: '#/components/parameters/ProductPath'
        - $ref: '#/components/parameters/ProductId'
      responses:
        '200':
          $ref: '#/components/responses/TodoUpdateResponse'
        '400':
          $ref: '#/components/responses/GenericError'
      summary: Update Todo list
      tags:
        - Machines
        - Sherlocks
        - Challenges
components:
  securitySchemes:
    bearer:
      description: Need to create token on app.hackthebox.com
      scheme: bearer
      type: http
  parameters:
    VpnId:
      description: ID of the vpn server
      in: path
      name: vpnId
      required: true
      schema:
        type: integer
    Page:
      description: Page number
      in: query
      name: page
      required: false
      schema:
        type: integer
    CompanyId:
      description: ID of the company
      in: path
      name: companyId
      required: true
      schema:
        type: integer
    JobId:
      description: ID of the Job
      in: path
      name: jobId
      required: true
      schema:
        type: integer
    SearchQuery:
      description: Search Param
      in: query
      name: search_query
      required: false
      schema:
        type: string
    AfterDate:
      description: Get items after a date in the past
      in: query
      name: after_date
      required: false
      schema:
        format: date
        type: string
    Rank:
      description: Rank integer
      explode: true
      in: query
      name: rank[]
      required: false
      schema:
        items:
          type: integer
        type: array
    ChallengeId:
      description: ID of the product
      in: path
      name: challengeId
      required: true
      schema:
        type: integer
    ChallengeSlug:
      description: ID or Name of the product
      in: path
      name: challengeSlug
      required: true
      schema:
        type: string
    ReviewId:
      description: Review ID
      in: path
      name: reviewId
      required: true
      schema:
        type: integer
    PerPage:
      description: Limit results per page
      in: query
      name: per_page
      required: false
      schema:
        maximum: 100
        minimum: 5
[...]
