components:
  securitySchemes:
    bearer:
      description: Need to create token on app.hackthebox.com
      scheme: bearer
      type: http
info:
  contact:
    name: ' '
  description: >-
    The undocumented public API v5 for the Hack The Box platform. This OpenAPI
    specification is community-maintained and reverse-engineered. This project 
    is not affiliated with or endorsed by HTB.
  license:
    name: The Unlicense
    url: https://unlicense.org/
  title: HTB Unofficial API v5
  version: v0.4.0
openapi: 3.0.4
paths:
  /connections:
    $ref: paths/connections.yaml
  /machine/own:
    $ref: paths/machine_own.yaml
  /machines:
    $ref: paths/machines.yaml
  /user/profile/activity/{userId}:
    $ref: paths/user_profile_activity_{userId}.yaml
  /user/profile/content/{userId}:
    $ref: paths/user_profile_content_{userId}.yaml
  /user/dashboard/favorites:
    $ref: paths/user_dashboard_favorites.yaml
  /user/dashboard/inprogress:
    $ref: paths/user_dashboard_inprogress.yaml
  /user/dashboard/recommended:
    $ref: paths/user_dashboard_recommended.yaml
security:
  - bearer: []
servers:
  - description: HTB API
    url: https://labs.hackthebox.com/api/v5
tags:
  - description: Endpoints related to Connections
    name: Connections
    x-displayName: Connections
  - description: Endpoints related to Machines
    name: Machines
    x-displayName: Machines
  - description: Endpoints related to User
    name: User
    x-displayName: User